<div class="leftMenu" >
    <ul class="menuList" ng-if="acesso" >
        <li class="titleMenu btnLevelOne">
            <span class="glyphicon mudaSetaBox glyphicon-triangle-bottom"></span> {{'global.menu.geral' | translate}}
        </li>
        <div class="boxLevelOne" style="display: block;">
            <menu-item ng-repeat='func in todasFuncionalidades'
                       state="{{'global.menu.' + func + '.state' | translate}}" 
                       menu-icon="{{'global.menu.' + func + '.icon' | translate}}" 
                       menu-name="global.menu.{{func}}.label" 
                       permission permission-only="func"></menu-item>
        </div>
    </ul>

    <ul class="menuList">
	    <div class="input-group input-group-sm">
	        <span class="input-group-addon">{{'global.versao' | translate}}</span>
	        <div class="form-control form-control" >FE{{version}} - BE{{app.version}}</div>
	    </div>
    </ul>    
</div>