<div>
    <div class="col-sm-12">
        <button class="btn btn-default pull-right" 
                ng-disabled='inProgress' 
                ng-click="vincularConta()"
                ng-show="!facebook.configurado">
            <i class="fa fa-link"></i>
            {{'facebook.vincular_conta' | translate}}
        </button>
        <button class="btn btn-default pull-right"
                ng-disabled='inProgress'
                ng-click="desvincularConta()"
                ng-show="facebook.configurado">
            <i class="fa fa-remove"></i>
            {{'facebook.desativar_integracao' | translate}}
        </button>

        <span ng-show="!facebook.configurado">{{'facebook.mensagem_facebook' | translate}}</span>
    </div>

    <form id='formulario_calendar' name='formulario_calendar' ng-show="facebook.configurado"
          ng-submit="salvar(this.formulario_calendar)" novalidate>
        <div class="col-sm-12">
            <div field-form-group='formulario_calendar.pagina'>
                <field-label value='facebook.pagina' required="false" for='formulario_calendar.pagina'></field-label>
                <select ng-model="facebook.pagina" ng-if="!readonly" required name="pagina"
                        class="form-control" ng-options='pagina.id as pagina.nome for pagina in paginas'>
                    <option>{{'global.selecione' | translate}}</option>
                </select>
                <field-message field='formulario_calendar.pagina'></field-message>
            </div>
        </div>

        <div class="col-sm-6">
            <div field-form-group='formulario_facebook.tituloAoVivo'>
                <field-label value='facebook.titulo_ao_vivo' required="false" for='formulario_facebook.tituloAoVivo'></field-label>
                <input type="text" name='tituloAoVivo' ng-model="facebook.tituloAoVivo" class="form-control" maxlength="30" />
                <field-message field='formulario_facebook.tituloAoVivo'></field-message>
            </div>
            <div field-form-group='formulario_facebook.textoAoVivo'>
                <field-label value='facebook.texto_ao_vivo' required="false" for='formulario_facebook.textoAoVivo'></field-label>
                <textarea rows='5' type="text" name='textoAoVivo' ng-model="facebook.textoAoVivo" class="form-control" maxlength="250" ></textarea>
                <field-message field='formulario_facebook.textoAoVivo'></field-message>
                <span>{{'global.caracteres_restantes' | translate:{quantidade:250-facebook.textoAoVivo.length} }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div field-form-group='formulario_facebook.tituloAgendado'>
                <field-label value='facebook.titulo_agendado' required="false" for='formulario_facebook.tituloAgendado'></field-label>
                <input type="text" name='tituloAgendado' ng-model="facebook.tituloAgendado" class="form-control" maxlength="30" />
                <field-message field='formulario_facebook.tituloAgendado'></field-message>
            </div>
            <div field-form-group='formulario_facebook.textoAgendado'>
                <field-label value='facebook.texto_agendado' required="false" for='formulario_facebook.textoAgendado'></field-label>
                <textarea rows='5' type="text" name='textoAgendado' ng-model="facebook.textoAgendado" class="form-control" maxlength="250" ></textarea>
                <field-message field='formulario_facebook.textoAgendado'></field-message>
                <span>{{'global.caracteres_restantes' | translate:{quantidade:250-facebook.textoAgendado.length} }}</span>
            </div>
        </div>

        <div class="col-sm-12 comandos">
            <hr/>
            <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
            <a class="btn btn-default" ng-disabled='inProgress' ng-click="carrega()" >{{'global.cancelar' | translate}}</a>
        </div>
    </form>

    <div class="col-sm-12" ng-if="videos.eventos.length">
        <div>
            <div ng-repeat="evento in eventos.eventos" >
                <h2>{{evento.inicio | date:'dd/MM/yyyy HH:mm'}} - {{evento.termino | date:'dd/MM/yyyy HH:mm'}}</h2>
                <p>{{evento.descricao}}</p>
            </div>
        </div>
    </div>
</div>