<div>
    <hr/>
    <div form-group-field="formulario_categoria.nome">
        <field-label for="formulario_categoria.nome" value="estudo.categoria"></field-label>
        <input name='nome' ng-model="categoria.nome" class="form-control" required />
        <field-message field="formulario_categoria.nome" ></field-message>
    </div>
    
    <br/>
    <div class="row modal-footer">
        <a ng-click="submitForm()" ng-disabled='inProgress' class="btn btn-default btn-default" type="submit" >
            <li class="glyphicon glyphicon-check"></li>
            {{'global.salvar' | translate}}
        </a>
        <a ng-click='cancel()' ng-disabled='inProgress' value="{{'global.cancelar' | translate}}" />
    </div>
</div>
