<form id="formulario_publicacao" name="formulario_publicacao" novalidate ng-submit="salvar(this.formulario_publicacao)" >
    <div class="col-sm-12" field-form-group='formulario_publicacao.titulo'>
        <field-label value="publicacao.titulo" for="formulario_publicacao.titulo" required="true"></field-label>
        <input name="titulo" class="form-control" ng-model="publicacao.titulo" required ></calvin-datepicker>
        <field-message field="formulario_publicacao.titulo"></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_publicacao.dataPublicacao'>
        <field-label value="publicacao.data_publicacao" for="formulario_publicacao.dataPublicacao" required="true"></field-label>
        <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}" name="dataPublicacao" 
                           ng-model="publicacao.dataPublicacao" type="date" required ></calvin-datepicker>
        <field-message field="formulario_publicacao.dataPublicacao"></field-message>
    </div>
    <div class="col-sm-12" field-form-group="formulario_publicacao.publicacao">
        <field-label value="publicacao.arquivo_publicacao" for="formulario_publicacao.publicacao" required="true"></field-label>
        <input-fileupload name='publicacao' ng-model="publicacao.boletim" types="['application/pdf']" required ></input-fileupload>
        <field-message field="formulario_publicacao.publicacao"></field-message>
    </div>
    <div ng-if='!publicacao.divulgado' class="col-sm-12">{{'publicacao.mensagem_push' | translate}}</div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="publicacao">{{'global.cancelar' | translate}}</a>
    </div>
</form>