<app-form>
  <div>
    <div class="row">
      <form-control class="col">
        <input-text [placeholder]="'colaborador.nome' | translate"
                    name="nome" [(ngModel)]="filtro.nome"
                    (change)="busca()"
        ></input-text>
      </form-control>

      <form-control class="col">
        <input-text [placeholder]="'colaborador.email' | translate"
                    name="email" [(ngModel)]="filtro.email"
                    email (change)="busca()"
        ></input-text>
      </form-control>

      <form-control class="col">
        <select-option multiple [placeholder]="'colaborador.perfis' | translate"
                    name="perfis" [(ngModel)]="filtro.perfis" (change)="busca()">
                       <opcao-item *ngFor="let perfil of perfis"
                                   [label]="perfil.nome" [valor]="perfil.id"></opcao-item>
        </select-option>
      </form-control>
    </div>
  </div>

  <div class="resultados">
    <app-table (paginacao)="busca($event)" [pagina]="colaboradores">
      <app-column name="foto">
        <th *appColumnHeader class="foto"></th>
        <td *appCell="let colaborador" class="foto" >
          <img [imagemSrc]="colaborador.foto" padrao="assets/imgs/user.png" />
        </td>
      </app-column>

      <app-column name="nome">
        <th *appColumnHeader>{{'contato.contatos' | translate}}</th>
        <td *appCell="let colaborador" >
          <h2>{{colaborador.nome}}</h2>
          <p>{{colaborador.email}}</p>
        </td>
      </app-column>

      <app-column name="colaborador">
        <th *appColumnHeader class="cmd">{{'colaborador.colaborador' | translate}}</th>
        <td *appCell="let colaborador" class="cmd" >
          <ng-container *ngIf="colaborador.contato || colaborador.colaborador || colaborador.admin">
            <command-button (click)="habilitarColaborador(colaborador)"
                            *ngIf="!colaborador.colaborador" theme="icon">
              <mat-icon>play_arrow</mat-icon>
            </command-button>
            <command-button (click)="redefinirSenha(colaborador)"
                            *ngIf="colaborador.colaborador" theme="icon">
              <mat-icon>refresh</mat-icon>
            </command-button>
            <command-button (click)="desabilitarColaborador(colaborador)"
                            *ngIf="colaborador.colaborador" theme="icon">
              <mat-icon>pause</mat-icon>
            </command-button>
          </ng-container>
          <ng-container *ngIf="!colaborador.contato && !colaborador.colaborador && !colaborador.admin">
            <command-button (click)="aprovaCadastro(colaborador)" theme="icon">
              <mat-icon>check</mat-icon>
            </command-button>
            <command-button (click)="rejeitaCadastro(colaborador)" theme="icon">
              <mat-icon>cancel</mat-icon>
            </command-button>
          </ng-container>
        </td>
      </app-column>

      <app-column name="admin">
        <th *appColumnHeader class="cmd">{{'colaborador.admin' | translate}}</th>
        <td *appCell="let colaborador" class="cmd" >
          <command-button routerLink="./{{colaborador.id}}"
            *ngIf="colaborador.colaborador && !colaborador.admin" theme="icon">
            <mat-icon>play_arrow</mat-icon>
          </command-button>
          <command-button routerLink="./{{colaborador.id}}"
                          *ngIf="colaborador.admin" theme="icon"
                          [matTooltip]="'global.editar' | translate">
            <mat-icon>edit</mat-icon>
          </command-button>
          <command-button (click)="desabilitarAdmin(colaborador)"
            *ngIf="colaborador.admin" theme="icon">
            <mat-icon>pause</mat-icon>
          </command-button>
        </td>
      </app-column>
    </app-table>

    <loader [component]="true" ></loader>
  </div>

  <div acoesEsquerda *ngIf="filtro.acessoRecente">
    <command-button (click)="exportar()" theme="stroked" >
      <mat-icon fontSet="fa" fontIcon="fa-file-excel-o"></mat-icon>
      {{'contato.exportar_contatos' | translate}}
    </command-button>
  </div>
</app-form>
