<div class="pdf-viewer">
    <canvas id="pdf-canvas"></canvas>
</div>
<ion-footer-bar>
    <a class="btn btn-default" target='_blank' href='{{pdfUrl}}'>
        <li class="fa fa-save"></li>
    </a>
    <button class="btn btn-default" ng-click="zoomIn()">
        <li class="fa fa-search-plus"></li>
    </button>
    <button class="btn btn-default" ng-click="zoomOut()">
        <li class="fa fa-search-minus"></li>
    </button>
    <button class="btn btn-default" ng-click="goPrevious()">
        <li class="fa fa-arrow-left"></li>
    </button>
    <button class="btn btn-default" ng-click="goNext()">
        <li class="fa fa-arrow-right"></li>
    </button>
    <span class="separator"></span>
    <button class="btn btn-default" ng-click="salvar()">
        <li class="fa fa-arrow-save"></li>
    </button>
</ion-footer-bar>