<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaChamados'>
            <thead>
                <tr>
                    <th class="text-right">{{'chamado.chamado' | translate}}</th>
                    <th>{{'chamado.solicitante' | translate}}</th>
                    <th class="text-center">{{'chamado.data_solicitacao' | translate}}</th>
                    <th class="text-center">{{'chamado.data_resposta' | translate}}</th>
                    <th class="text-center">{{'chamado.data_conclusao' | translate}}</th>
                    <th class="text-center">{{'chamado.status.status' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!chamados.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="chamado in chamados.resultados">
                    <td class="text-right">{{chamado.codigo}}</td>
                    <td>{{chamado.nomeSolicitante}} - {{chamado.emailSolicitante}}</td>
                    <td class="text-center">{{chamado.dataSolicitacao | date : ('config.pattern.output.dateHour' | translate)}}</td>
                    <td class="text-center">{{chamado.dataResposta | date : ('config.pattern.output.dateHour' | translate)}}</td>
                    <td class="text-center">{{chamado.dataConclusao | date : ('config.pattern.output.dateHour' | translate)}}</td>
                    <td class="text-center">{{'chamado.status.' + chamado.status | translate}}</td>
                    <td class="text-center">
                        <button class="btn btn-default" ng-click="detalhar(chamado)"
                                title="{{'chamado.detalhar' | translate}}">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="chamado.cadastro">
            {{'chamado.cadastrar' | translate}}
        </a>
    </div>
</div>