<form id="formulario_chamado" name="formulario_chamado" novalidate ng-submit="salvar()">
    <div class="col-sm-12" field-form-group="formulario_chamado.tipo">
        <field-label value="chamado.tipo"></field-label><br/>
        <input type='radio' ng-value="'SUGESTAO'" name="tipo" ng-model="chamado.tipo" required />{{'chamado.tipo.SUGESTAO' | translate}}
        <input type='radio' ng-value="'REPORTE_BUG'" name="tipo" ng-model="chamado.tipo" required />{{'chamado.tipo.REPORTE_BUG' | translate}}
        <input type='radio' ng-value="'RECLAMACAO'" name="tipo" ng-model="chamado.tipo" required />{{'chamado.tipo.RECLAMACAO' | translate}}
        <field-message field="formulario_chamado.tipo" ></field-message>
    </div>
    <div class="col-sm-12" field-form-group="formulario_chamado.chamado">
        <field-label value="chamado.descricao"></field-label>
        <textarea name="chamado" required ng-model="chamado.descricao" class="form-control" ></textarea>
        <field-message field="formulario_chamado.chamado" ></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="chamado">{{'global.cancelar' | translate}}</a>
    </div>
</div>