<div class="opcao" *ngFor="let opcao of value; let idx = index">
  <command-button disabled theme="icon">
    <mat-icon>radio_button_checked</mat-icon>
  </command-button>
  <div class="input">
    <input-text name="opcao{{indexQuestao}}.{{idx}}" [(ngModel)]="opcao.opcao" [disabled]="disabled"
                [placeholder]="('enquete.opcao.opcao' | translate) + ' ' + (indexQuestao + 1) + '.' + (idx + 1)"
                maxlength="150"></input-text>
  </div>
  <command-button *ngIf="!disabled" theme="icon" (click)="remove(opcao)"
                  [matTooltip]="'global.excluir' | translate">
    <mat-icon>delete</mat-icon>
  </command-button>
</div>

<div class="text-right">
  <command-button *ngIf="!disabled" theme="default" (click)="add()">
    <mat-icon>add</mat-icon>
    {{'enquete.opcao.mais' | translate}}
  </command-button>
</div>