<div>
    <div form-group-field="formulario_lotacao.nome">
        <field-label for="formulario_lotacao.nome" value="colaborador.lotacao"></field-label>
        <input name='nome' ng-model="lotacao.nome" class="form-control" required />
        <field-message field="formulario_lotacao.nome" ></field-message>
    </div>

    <div class="modal-footer">
        <a ng-click="submitForm()" ng-disabled='inProgress' class="btn btn-default btn-default" type="submit" >
            <li class="glyphicon glyphicon-check"></li>
            {{'global.salvar' | translate}}
        </a>
        <a ng-click='cancel()' ng-disabled='inProgress' value="{{'global.cancelar' | translate}}" />
    </div>
</div>
