<h2 ng-if="sameDay">{{inicio | date:'dd/MM/yyyy'}} | {{inicio | date:'HH:mm'}} - {{fim | date:'HH:mm'}}</h2>
<h2 ng-if="!sameDay">{{inicio | date:'dd/MM/yyyy HH:mm'}} - {{fim | date:'dd/MM/yyyy HH:mm'}}</h2>

<div ng-if="agendamento" >
    <hr/>
    
    <div class="row">
        <div class="col-sm-3">Membro:</div> 
        <div class="col-sm-9">{{agendamento.membro.nome}}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">E-mail:</div> 
        <div class="col-sm-9"><a href="mailto:{{agendamento.membro.email}}">{{agendamento.membro.email}}</a></div>
    </div>
    <div ng-if="agendamento.membro.telefones.length" class="row">
        <span class="col-sm-3">{{'agenda.telefones' | translate}}:</span> 
        <span class="col-sm-9">
            <span ng-repeat="telefone in agendamento.membro.telefones">{{telefone}}<br/></span>
        </span>
    </div>
    
    <br/>
    <div class="row modal-footer">
        <a class="btn btn-default btn-default" ng-disabled='inProgress' ng-if="agendamento.naoConfirmado" ng-click="submitForm()">
            <li class="glyphicon glyphicon-check"></li>
            {{'agenda.agendamento.confirmar' | translate}}
        </a>
        <a class="btn btn-default" ng-if="!agendamento.concluido" ng-disabled='inProgress' ng-click="cancelarAgendamento()">
            <li class="glyphicon glyphicon-stop"></li>
            {{'agenda.agendamento.cancelar' | translate}}
        </a>
    </div>
</div>

<div ng-if="horario" >
    <hr/>
    <div form-group-field="formulario_horario.membro">
        <field-label for="formulario_horario.membro" value="agenda.horario.agendar_para"></field-label>
        <ui-select theme="bootstrap" required name="membro" ng-model="req.membro" required>
            <ui-select-match>{{$select.selected.nome}}</ui-select-match>
            <ui-select-choices repeat="membro.id as membro in membros.resultados" refresh="pesquisarMembros($select.search)" refresh-delay="300">
                <div ng-bind-html="membro.nome"></div>
            </ui-select-choices>
        </ui-select>
        <field-message field="formulario_horario.membro" ></field-message>
    </div>
    
    <br/>
    <div class="row modal-footer">
        <a ng-click="submitForm()" ng-disabled='inProgress' class="btn btn-default btn-default" type="submit" >
            <li class="glyphicon glyphicon-check"></li>
            {{'global.confirmar' | translate}}
        </a>
        <a ng-click='cancel()' ng-disabled='inProgress' value="{{'global.cancelar' | translate}}" />
    </div>

    <br/>
    {{'agenda.horario.disponibilidade' | translate}}
    <span ng-repeat="ds in horario.diasSemana"><b>{{'agenda.diaSemana.' + ds | translate}}</b> </span><br/>
    <span ng-if='horario.dataInicio'>De: <b>{{horario.dataInicio | date:'dd/MM/yyyy'}}</b></span>
    <span ng-if='horario.dataFim'>Até: <b>{{horario.dataFim | date:'dd/MM/yyyy'}}</b></span>
    <br/>
    <div class="row modal-footer">
        Remover horário:<br/>
        <a class="btn btn-default" ng-disabled='inProgress' ng-click="removeDia()">
            <li class="glyphicon glyphicon-trash"></li>
            {{'agenda.horario.remover_dia' | translate}}
        </a>
        <a class="btn btn-default" ng-disabled='inProgress' ng-click="removeFuturos()">
            <li class="glyphicon glyphicon-trash"></li>
            {{'agenda.horario.remover_futuros' | translate}}
        </a>
    </div>
</div>
