<h2 ng-if="sameDay">{{inicio | date:'dd/MM/yyyy'}} | {{inicio | date:'HH:mm'}} - {{fim | date:'HH:mm'}}</h2>
<h2 ng-if="!sameDay">{{inicio | date:'dd/MM/yyyy HH:mm'}} - {{fim | date:'dd/MM/yyyy HH:mm'}}</h2>

<div ng-if="agendamento">
    <hr/>
    
    <div class="row">
        <div class="col-sm-3">Membro:</div> 
        <div class="col-sm-9">{{agendamento.membro.nome}}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">E-mail:</div> 
        <div class="col-sm-9"><a href="mailto:{{agendamento.membro.email}}">{{agendamento.membro.email}}</a></div>
    </div>
    <div ng-if="agendamento.membro.telefones.length" class="row">
        <span class="col-sm-3">{{'agenda.telefones' | translate}}:</span> 
        <span class="col-sm-9">
            <span ng-repeat="telefone in agendamento.membro.telefones">{{telefone}}<br/></span>
        </span>
    </div>
    
    <br/>
    
    <div class="modal-footer">
        <a class='btn btn-default pull-right' ng-click='cancel()' ng-disabled='inProgress' >{{'global.cancelar' | translate}}</a>
    </div>
</div>

<div ng-if="horario">
    {{'agenda.horario.disponibilidade' | translate}}
    <span ng-repeat="ds in horario.diasSemana"><b>{{'agenda.diaSemana.' + ds | translate}}</b> </span><br/>
    <span ng-if='horario.dataInicio'>De: <b>{{horario.dataInicio | date:'dd/MM/yyyy'}}</b></span>
    <span ng-if='horario.dataFim'>Até: <b>{{horario.dataFim | date:'dd/MM/yyyy'}}</b></span>
    
    <div class="modal-footer">
        <a class='btn btn-default pull-right' ng-click='cancel()' ng-disabled='inProgress' >{{'global.cancelar' | translate}}</a>
    </div>
</div>
