<div class="row" *ngIf="valores?.length">
    <div class="col-md-6 col-lg-4" *ngFor="let val of valores">
        <strong>{{val.nome}}: </strong><br/>

        <ng-container *ngIf="val.valorNumero || val.valorNumero === 0">
            <ng-container *ngIf="val.formato === 'NUMERO_INTEIRO'">
                {{val.valorNumero | number:'0.0-0'}}
            </ng-container>
            <ng-container *ngIf="val.formato === 'NUMERO_REAL'">
                {{val.valorNumero | number:'0.2-2'}}
            </ng-container>
            <ng-container *ngIf="val.formato === 'MONETARIO'">
                {{val.valorNumero | monetario}}
            </ng-container>
            <ng-container *ngIf="val.formato === 'NENHUM'">
                {{val.valorNumero}}
            </ng-container>
        </ng-container>

        <ng-container *ngIf="val.valorTexto">
            <ng-container *ngIf="val.formato === 'CEP'">
                {{val.valorTexto | cep}}
            </ng-container>
            <ng-container *ngIf="val.formato === 'CPF_CNPJ'">
                {{val.valorTexto | cpf}}
            </ng-container>
            <ng-container *ngIf="val.formato === 'TELEFONE'">
                {{val.valorTexto | telefone}}
            </ng-container>
            <ng-container *ngIf="val.formato === 'NENHUM'">
                {{val.valorTexto}}
            </ng-container>
        </ng-container>

        <ng-container *ngIf="val.valorData">
            {{val.valorData | date:'dd/MM/yyyy'}}
        </ng-container>

        <ng-container *ngIf="val.valorAnexo">
            <a href="javascript:void(0)" [appDownloadArquivo]="val.valorAnexo">
                {{val.valorAnexo.nome}}
            </a>
        </ng-container>
    </div>
</div>

