<div class="navbar navbar-fixed-top usernavbar">
    <div class="container">
        <!-- Ferramentas do usuário -->
        <div class="navbar-scope" ng-if='acesso' ng-controller='LogoutController'>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            <a class="navbar-brand userScope" href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>{{'global.menu.logout' | translate}}</a>
        </div>
        <div class="navbar-scope" ng-if='!acesso' >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            <a class="navbar-brand userScope" ui-sref='login' ><span class="glyphicon glyphicon-log-in"></span>{{'global.menu.login' | translate}}</a>
        </div>
        <!--/ Fim ferramentas do usuário -->
        
        <!-- Escopo do Sistema -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            <a class="navbar-brand" href="#">${nome.igreja}</a>
        </div>
        <!--/ Fim do escopo do sistema -->
    </div>
</div>