<div>
    <div class="form-group has-feedback" ng-hide="hideFilter">
        <input class="form-control" ng-model="filter" ng-change="applyFilter()" />
        <span class="glyphicon glyphicon-search form-control-feedback" />
    </div>
    <div class="checklist scroll-200 form-control" style="height:{{height}}">
        <label ng-hide="filtered.length == 0">
            <input type="checkbox" ng-checked="selected.length == filtered.length" ng-click="toggleAll()" ng-keytype="toggleAll()" />
            {{ 'global.todos' | translate }}
        </label>
        <label ng-repeat="item in filtered">
            <input ng-attr-name="{{name}}" ng-attr-id="{{name}}"
                   type="checkbox" ng-checked="indexOf(item) >= 0" 
                   ng-click="toggle(item)" ng-keytype="toggle(item)" />
            {{ label(item) }}
        </label>
        <span ng-if="!filtered.length" translate>mensagens.MSG-008</span>
    </div>
</div>