<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaVotacoes'>
            <thead>
                <tr>
                    <th>{{'votacao.nome' | translate}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!votacoes.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="votacao in votacoes.resultados">
                    <td>{{votacao.nome}}</td>
                    <td class="col-sm-3 text-center">
                        <a class="btn btn-default" ng-click="detalhar(votacao)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(votacao)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(votacao)"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                    <td class="col-sm-1">
                        <a class="btn btn-default" ng-click="resultado(votacao)"
                           title="{{'votacao.resultados' | translate}}">
                            <span class="fa fa-list"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="votacao.cadastro">
            {{'votacao.cadastrar' | translate}}
        </a>
    </div>
</div>