<div>
    <form name="busca_membro_form" ng-submit="busca()" novalidate>
        <div class="col-sm-6" field-form-group="busca_membro_form.nome">
            <field-label for='nome' required='false' value='membro.nome' ></field-label>
            <input name='nome' class="form-control" ng-model="filtro.nome" />
        </div>
        <div class="col-sm-6" field-form-group="busca_membro_form.email">
            <field-label for='email' required='false' value='membro.email' ></field-label>
            <input name='email' class="form-control" ng-model="filtro.email" />
        </div>
        <div class="col-sm-6" field-form-group="busca_membro_form.perfs">
            <field-label for='perfis' required='false' value='membro.perfis' ></field-label>
            <select-checklist name='perfs' ng-model="filtro.perfil" hide-filter="true" height="100px"
                              options='perfis' var='perfil' item-label='perfil.nome'
                              item-value='perfil.id' ></select-checklist>
        </div>
        <div class="col-sm-12 comandos">
            <hr/>
            <input value="{{'global.buscar' | translate}}" class="btn btn-default" type="submit" />
            <hr/>
        </div>
    </form>
    <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-hover" ng-table='tabelaMembros'>
            <thead>
                <tr>
                    <th>{{'membro.nome' | translate}}</th>
                    <th>{{'membro.email' | translate}}</th>
                    <th>{{'membro.membro' | translate}}</th>
                    <th>{{'membro.admin' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!membros.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="membro in membros.resultados">
                    <td>{{membro.nome}}</td>
                    <td>{{membro.email}}</td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-if="membro.membro"
                           title="{{'membro.redefinir_senha' | translate}}"
                           ng-click="redefinirSenha(membro)">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a class="btn btn-default" ng-click="darAcessoMembro(membro)" 
                           title="{{'membro.dar_acesso' | translate}}" ng-show='membro.contato'>
                            <span class="fa fa-pause-circle"></span>
                        </a>
                        <a class="btn btn-default" ng-if="membro.membro"
                           title="{{'membro.retirar_acesso' | translate}}"
                           ng-click="retirarAcessoMembro(membro)">
                            <span class="fa fa-play-circle"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-click="darAcessoAdm(membro)"
                           title="{{'membro.dar_acesso' | translate}}" ng-if='membro.membro'>
                            <span ng-if="membro.admin" class="fa fa-pencil-square-o"></span>
                            <span ng-if="!membro.admin" class="fa fa-pause-circle"></span>
                        </a>
                        <a class="btn btn-default" ng-if="membro.admin"
                           title="{{'membro.retirar_acesso' | translate}}"
                           ng-click="retirarAcessoAdm(membro)">
                            <span class="fa fa-play-circle"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>