<div>
    <div class="col-sm-12">
        <label>{{'endereco.descricao' | translate}}</label>
        <input ng-model="ngModel.descricao" ng-if="!readonly" class="form-control" />
        <div class="form-control" ng-if="readonly">{{ngModel.descricao}}</div>
    </div>
    <div class="col-sm-4">
        <label>{{'endereco.cep' | translate}}</label>
        <input ng-model="ngModel.cep" ng-if="!readonly" class="form-control" 
               mask="{{'config.mask.cep' | translate}}" />
        <div class="form-control" ng-if="readonly">{{ngModel.cep | mask:('config.mask.cep' | translate)}}</div>
    </div>
    <div class="col-sm-4">
        <label>{{'endereco.cidade' | translate}}</label>
        <input ng-model="ngModel.cidade" ng-if="!readonly" class="form-control" />
        <div class="form-control" ng-if="readonly">{{ngModel.cidade}}</div>
    </div>
    <div class="col-sm-4">
        <label>{{'endereco.uf' | translate}}</label>
        <select ng-model="ngModel.estado" ng-if="!readonly" 
                class="form-control" ng-options='uf for uf in ufs'>
            <option>{{'global.selecione' | translate}}</option>
        </select>
        <div class="form-control" ng-if="readonly">{{ngModel.estado}}</div>
    </div>
</div>