<div class='login-content'>
    <div class='login-inner-content'>
        <div class='col-sm-12 col-md-4'></div>

        <div class='col-sm-12 col-md-4'>
            <div class='login-block col-sm-12' >
                <img src='assets/img/logo.png' />
            </div>

            <div class='login-block col-sm-12'>
                <form id="login_form" name="login_form" ng-submit="efetuarLogin(this.login_form)" novalidate>
                    <div class="col-sm-push-2 col-sm-8 form-group" field-form-group="login_form.username" >
                        <field-label for="username" value="login.username" ></field-label>
                        <input name='username' required ng-model="auth.username" class="form-control" />
                        <field-message field="login_form.username"></field-message>
                    </div>
                    <div class="col-sm-push-2 col-sm-8 form-group" field-form-group="login_form.password">
                        <field-label for="password" value="login.password" ></field-label>
                        <input name="password" required ng-model="auth.password" type="password" class="form-control" />
                        <field-message field="login_form.password"></field-message>
                    </div>

                    <div class="col-sm-push-2 col-sm-8 comandos text-center">
                        <input type="submit" ng-disabled='inProgress' 
                               class="btn btn-default" value="{{'login.autenticar' | translate}}" />
                    </div>
                </form>
            </div>
        </div>

        <div class='col-sm-12 col-md-4'></div>
    </div>
</div>