<div class='login-content'>
    <div class='login-inner-content'>
        <div class='col-sm-12 col-md-4'></div>

        <div class='col-sm-12 col-md-4'>
            <div class='login-block col-sm-12' >
                <img src='assets/img/logo.png' />
            </div>

            <div class='login-block col-sm-12 text-center'>
                <div ng-if='!redefinida && !erro'>
                    {{'login.processando' | translate}}<br/>
                </div>
                <div style="padding-top:40px" ng-if='erro'>
                    {{'login.erro_redefinicao' | translate}}<br/>
                    <br/>

                    <a onclick='window.close()' class='btn btn-default'>{{'login.fechar_janela' | translate}}</a>
                </div>
                <div ng-if="redefinida" style="padding-top:40px">
                    <span ng-bind-html="'mensagens.MSG-040' | translate:{nome:colaborador.nome}"></span>
                    <br/>

                    <a onclick='window.close()' class='btn btn-default'>{{'login.fechar_janela' | translate}}</a>
                </div>
            </div>
        </div>

        <div class='col-sm-12 col-md-4'></div>
    </div>
</div>