<app-form>
  <div class="resultados">
    <app-table (paginacao)="busca($event)" [pagina]="eventos">

      <app-column name="evento">
        <th *appColumnHeader>{{'evento.eventos' | translate}}</th>
        <td *appCell="let evento" class="evento">
          <h2>{{evento.nome}}</h2>
          <p>{{evento.dataHoraInicio | date:'dd MMM yyyy'}} - {{evento.dataHoraTermino | date:'dd MMM yyyy'}}</p>

          <mat-chip-list>
            <mat-chip *ngIf="evento.inscricoesAbertas && evento.vagasRestantes == 1" color="primary" selected>
              {{'evento.inscricao.uma_vaga_restante' | translate }}
            </mat-chip>
            <mat-chip *ngIf="evento.inscricoesAbertas && evento.vagasRestantes > 1" color="primary" selected>
              {{'evento.inscricao.vagas_restante' | translate:{vagas: evento.vagasRestantes} }}
            </mat-chip>
            <mat-chip *ngIf="evento.inscricoesFuturas" color="accent" selected>
              <mat-icon fontSet="fa" fontIcon="fa-clock-o"></mat-icon>
              {{'evento.inscricao.inscricoes_nao_iniciadas' | translate}}
            </mat-chip>
            <mat-chip *ngIf="evento.inscricoesAbertas && evento.vagasRestantes == 0" color="basic" selected>
              {{'evento.inscricao.vagas_esgotadas' | translate}}
            </mat-chip>
            <mat-chip *ngIf="evento.inscricoesPassadas" color="basic" selected>
              {{'evento.inscricao.inscricoes_encerradas' | translate}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </app-column>

      <app-column name="comandos">
        <th *appColumnHeader class="cmd"></th>
        <td *appCell="let evento" class="cmd" >
          <command-button routerLink="./{{evento.id}}/detail" theme="icon"
                          [matTooltip]="'global.detalhar' | translate">
            <mat-icon>search</mat-icon>
          </command-button>
          <command-button routerLink="./inscricao/{{evento.id}}" theme="icon"
                          [matTooltip]="'evento.inscricoes' | translate">
            <mat-icon>format_list_bulleted</mat-icon>
          </command-button>
          <command-button routerLink="./{{evento.id}}/update" theme="icon"
                          [matTooltip]="'global.editar' | translate">
            <mat-icon>edit</mat-icon>
          </command-button>
          <command-button routerLink="./{{evento.id}}/copy" theme="icon"
                          [matTooltip]="'global.copiar' | translate">
            <mat-icon>file_copy</mat-icon>
          </command-button>
          <command-button (click)="excluir(evento)" theme="icon"
                          [matTooltip]="'global.excluir' | translate">
            <mat-icon>delete</mat-icon>
          </command-button>
        </td>
      </app-column>
    </app-table>

    <loader [component]="true" ></loader>
  </div>

  <div acoesEsquerda>
    <command-button (click)="exportarInscricoes()" theme="stroked" >
      <mat-icon fontSet="fa" fontIcon="fa-file-excel-o"></mat-icon>
      {{'evento.exportar_inscritos' | translate}}
    </command-button>
  </div>
</app-form>
