<div>
    <form name="busca_versiculo_form" ng-submit="busca()" novalidate>
        <div class="col-sm-12" field-form-group="busca_versiculo_form.filtro">
            <field-label for='filtro' required='false' value='versiculo.versiculo' ></field-label>
            <input name='filtro' class="form-control" ng-model="filtro.filtro" />
        </div>
        <div class="col-sm-12 comandos">
            <hr/>
            <input value="{{'global.buscar' | translate}}" class="btn btn-default" type="submit" />
            <hr/>
        </div>
    </form>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaVersiculos'>
            <thead>
                <tr>
                    <th>{{'versiculo.versiculo' | translate}}</th>
                    <th>{{'versiculo.status.status' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!versiculos.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="versiculo in versiculos.resultados">
                    <td>{{versiculo.versiculo}}</td>
                    <td>{{'versiculo.status.' + versiculo.status | translate}}</td>
                    <td class="col-sm-3 text-center">
                        <a class="btn btn-default" ng-click="habilita(versiculo)"
                           ng-if='versiculo.desabilitado'>
                            <span class="fa fa-play"></span>
                        </a>
                        <a class="btn btn-default" ng-click="desabilita(versiculo)"
                           ng-if='versiculo.habilitado'>
                            <span class="fa fa-pause"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(versiculo)">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="versiculo.cadastro">
            {{'versiculo.cadastrar' | translate}}
        </a>
    </div>
</div>