<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaEstudos'>
            <thead>
                <tr>
                    <th>{{'estudo.titulo' | translate}}</th>
                    <th>{{'estudo.autor' | translate}}</th>
                    <th>{{'estudo.publicacao' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!estudos.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="estudo in estudos.resultados">
                    <td>{{estudo.titulo}}</td>
                    <td>{{estudo.autor}}</td>
                    <td class="text-center">
                        <label ng-if='estudo.emEdicao' class='label label-warning'>
                            <i class='fa fa-pencil '></i>
                            {{'estudo.em_edicao' | translate}}
                        </label>
                        <label ng-if='estudo.processando' class='label label-warning'>
                            <i class='fa fa-refresh '></i>
                            {{'estudo.processando' | translate}}
                            <span ng-if="estudo.porcentagemProcessamento > 0">
                                ({{estudo.porcentagemProcessamento}}%)
                            </span>
                        </label>
                        <label ng-if='estudo.agendado' class='label label-info'
                               title="{{'estudo.agendado' | translate}}">
                            <i class='fa fa-clock-o'></i>
                            {{estudo.dataPublicacao | date : ('config.pattern.output.dateHour' | translate)}}
                        </label>
                        <label ng-if='estudo.publicado' class='label label-success'>
                            <i class='fa fa-check '></i>
                            {{'estudo.publicado' | translate}}
                        </label>
                        <label ng-if='estudo.rejeitado' class='label label-danger'>
                            <i class='fa fa-exclamation-triangle '></i>
                            {{'estudo.rejeitado' | translate}}
                        </label>
                    </td>
                    <td class="col-sm-3 text-center">
                        <a class="btn btn-default" ng-click="detalhar(estudo)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(estudo)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(estudo)"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="estudo.cadastro">
            {{'estudo.cadastrar' | translate}}
        </a>
    </div>
</div>