<form id='institucional_form' name='institucional_form' ng-submit='salvar(this.institucional_form)' novalidate>
    <div class="col-md-12 form-group" field-form-group='institucional_form.quemSomos'>
        <field-label for='quemSomos' value='institucional.quem_somos' required="false"></field-label>
        <textarea rows="5" name='quemSomos' ng-model="institucional.quemSomos" class="form-control" ></textarea>
        <field-message field='institucional_form.quemSomos' ></field-message>
    </div>
    <div class="col-md-6 form-group" field-form-group='institucional_form.email'>
        <field-label for='email' value='institucional.email' required="false"></field-label>
        <input name='email' ng-model="institucional.email" class="form-control" />
        <field-message field='institucional_form.email' ></field-message>
    </div>
    <div class="col-md-6 form-group" field-form-group='institucional_form.site'>
        <field-label for='site' value='institucional.site' required="false"></field-label>
        <input name='site' ng-model="institucional.site" class="form-control" />
        <field-message field='institucional_form.site' ></field-message>
    </div>
    <a ng-repeat-start="endereco in institucional.enderecos" 
       ng-if="institucional.enderecos.length > 1"
       class="btn btn-default pull-right" ng-click="removeEndereco(endereco)">
        <i class="fa fa-trash"></i>
    </a>
    <form-endereco ng-repeat-end
                   ng-model="endereco" required="institucional.enderecos.length > 1" ></form-endereco>
    <div class="col-sm-12 text-right">
        <a href="" ng-click="addEndereco()"
           class="btn btn-default" translate>institucional.adicionar_endereco</a>
    </div>
    <div class="col-sm-12" field-form-group='institucional_form.telefones'>
        <field-label for='telefones' value='institucional.telefones' required="false"></field-label>
        <input-telefones name='telefones' ng-model="institucional.telefones" ></input-telefones>
        <field-message field='institucional_form.telefones' ></field-message>
    </div>
    <div class="clearfix"></div>
    <hr/>
    
    <b class='col-sm-12'>{{'institucional.home_aplicativo' | translate}}</b>
    <div class="col-sm-6">
        <field-label value="institucional.imagem_divulgacao" required="false"></field-label>
        <div ng-show="institucional.divulgacao.id">
            <a class="btn btn-default" ng-click="removeImagem()" style="position:absolute;right:20px;top:35px">
                <i class="fa fa-trash"></i>
            </a>
            <img style="width:100%" ng-src='/app/rest/arquivo/download/{{institucional.divulgacao.id}}?{{headers}}' />
            <hr/>
        </div>
        <input-fileupload name='divulgacao' ng-model="institucional.divulgacao" required ></input-fileupload>
        <hr/>
        <field-label value="institucional.instrucoes_para_imagem" required="false"></field-label>
        <label>{{'institucional.instrucoes_imagem_divulgacao' | translate}}</label>
        <hr/>
        <field-label value='institucional.descricao_divulgacao' for='institucional_form.descricao_divulgacao'></field-label>
        <textarea name='descricao_divulgacao' required rows="5" ng-model="institucional.textoDivulgacao" class="form-control" maxlength="500" ></textarea>
        <field-message field='institucional_form.descricao_divulgacao'></field-message>
        <span>{{'global.caracteres_restantes' | translate:{quantidade:500-institucional.textoDivulgacao.length} }}</span>
    </div>
    <div class="col-sm-6">
        <div ng-repeat="redeSocial in redesSociais" >
            <field-label value="{{'institucional.' + redeSocial}}" required="false"></field-label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-{{redeSocial}}"></i>
                </span>
                <input class="form-control" ng-model="institucional.redesSociais[redeSocial]" />
            </div>
        </div>
    </div>
    
    
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ng-click="carrega()" >{{'global.cancelar' | translate}}</a>
    </div>
</form>