/* Importando as cores para o sistema */
/* Cores da Interface */
/* Para mais informações sobre a tabela de cores, verifique o manual do Framework */
/* Cor principal de todo o tema - cor primária */
/* Cor secundária de todo o tema - cor secundária, aplicada em mouse over de botões, e outros que se julguem necessários */
/* Cores do topo e menus */
/* Cores de fundo to topo, das th das tabelas.*/
/* Cores de mensagens gerais*/
/* Mensagens de alerta */
/* Mensagens de sucesso */
/* Mensagens de Aviso */
/* Campos obrigatórios, fontes e bordas */
/* Campos desabilitados, bordas, backgrounds e fonts */
/* Cores Brancas e Pretas, servem para tudo */
/* ################################## Início do Documento ###################################### */
/* Space out content a bit */
/* line 8, ../scss/geral.scss */
html, body {
  height: 100%;
}

/* line 12, ../scss/geral.scss */
body {
  color: #333333;
}

/* line 19, ../scss/geral.scss */
#wrap {
  min-height: 100%;
}

/* Parando o menu principal */
/* Menu Atalhos */
/* line 27, ../scss/geral.scss */
.atalhos {
  font-size: 12px;
  margin-left: 15px;
}

/* line 33, ../scss/geral.scss */
.atalhos a {
}

/* line 36, ../scss/geral.scss */
.menuAtalhos {
  width: 50%;
  padding: 5px;
  float: left;
  margin-top: 5px;
  height: 30px;
  text-align: left;
}

/* line 45, ../scss/geral.scss */
.menuAtalhos div {
  float: left;
}

/* line 49, ../scss/geral.scss */
.numAtalhos {
  float: right !important;
  color: #fff;
  width: 13px;
  height: 13px;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px;
  margin-left: 4px;
}

/* ///////////// Fim do menu atalhos ///////////// */
/* ################ Menu usuários ################ */
/* line 65, ../scss/geral.scss */
.menuIdUser {
  width: 45%;
  padding: 5px;
  float: right;
  margin-top: 5px;
  height: 30px;
  text-align: right;
  margin-right: 20px;
  font-size: 12px;
}

/* line 77, ../scss/geral.scss */
.accordeonBox {
  padding: 5px;
  width: 100%;
  max-height: 250px;
  background-color: #ccc;
  display: none;
  margin-top: -4px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

/* line 88, ../scss/geral.scss */
.accordeonContent {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-top: -5px;
}

/* line 96, ../scss/geral.scss */
.accordeonTitle {
  float: left;
  margin-left: 10px;
  height: 30px;
  margin-top: 3px;
  font-weight: bold;
}

/* line 105, ../scss/geral.scss */
.btnAccordeon {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  border: 0;
}

/* line 113, ../scss/geral.scss */
.arrowDirect {
  float: left;
  color: #fff;
  height: 30px;
  padding: 7px;
  margin-top: -2px;
  margin-left: -6px;
  font-size: 16px;
}

/* line 124, ../scss/geral.scss */
.invisibleBox {
  display: none;
}

/* Menu Lateral */
/* Fixando o menu */
/* line 131, ../scss/geral.scss */
.fixarMenu {
  position: fixed;
  top: 30px !important;
  z-index: 9999 !important;
  width: 100%;
}

/* line 139, ../scss/geral.scss */
.leftMenu {
  width: 100%;
  overflow: hidden;
}

/* line 145, ../scss/geral.scss */
.leftMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
}

/* line 152, ../scss/geral.scss */
.leftMenu ul li {
  width: 100%;
}

/* line 157, ../scss/geral.scss */
.leftMenu ul li a:link {
  width: 100%;
  height: 100% auto;
  display: block;
  text-decoration: none;
  padding: 10px;
}

/* line 166, ../scss/geral.scss */
.leftMenu ul li a:hover {
  display: block;
}

/* line 172, ../scss/geral.scss */
.linkFalse {
  cursor: no-drop;
}

/* line 178, ../scss/geral.scss */
.linkActive {
  font-weight: bold;
}

/* line 183, ../scss/geral.scss */
.leftMenuDisabled ul li a:hover {
  display: block;
}

/* line 190, ../scss/geral.scss */
.titleMenu {
  padding: 20px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 201, ../scss/geral.scss */
.titleMenu a:hover {
  background-color: transparent !important;
}

/* line 205, ../scss/geral.scss */
.titleVerMais {
  border-bottom: none !important;
  padding: 1px !important;
  font-size: 22px !important;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  color: white;
}

/* line 217, ../scss/geral.scss */
.pMostrarMais {
  font-size: 12px !important;
}

/* line 221, ../scss/geral.scss */
.mudaSetaVerMais {
  top: -10px;
}

/* line 225, ../scss/geral.scss */
.titleVerMais a:hover {
  background-color: transparent !important;
}

/* Dar o espaçamento entre a seta e o título do menu lateral */
/* line 231, ../scss/geral.scss */
.titleSpace {
  margin-right: 5px;
}

/* Classes de status do menu */
/* line 236, ../scss/geral.scss */
.no-link {
  cursor: no-drop;
}

/* line 239, ../scss/geral.scss */
.idMenu {
  float: left !important;
  color: #fff;
  width: 15px;
  height: 16px;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px;
  margin-left: 4px;
  margin-right: 8px;
}

/* line 253, ../scss/geral.scss */
.idMenuDisabled {
  background-color: #adadad;
  float: left !important;
  color: #fff;
  width: 15px;
  height: 16px;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px;
  margin-left: 4px;
  margin-right: 8px;
}

/* Transformando as LI do topo do menu lateral em botões */
/* line 268, ../scss/geral.scss */
.btnVerMais, .btnLevelOne, .btnLevelTwo, .btnLevelTree, .btnLevelFour, .btnLevelFive, .btnLevelSix, .btnLevelSeven, .btnLevelEight, .btnLevelNine, .btnLevelTen {
  cursor: pointer;
}

/* line 272, ../scss/geral.scss */
.verMaisMenu {
  display: none;
}

/* Display das divs do menu lateral */
/* line 280, ../scss/geral.scss */
.boxLevelTwo, .boxLevelTree, .boxLevelFour, .boxLevelFive, .boxLevelSix, .boxLevelSeven, .boxLevelEight, .boxLevelNine, .boxLevelTen {
  display: none;
}

/* line 284, ../scss/geral.scss */
.opening {
  display: block !important;
}

/* Fim do menu lateral */
/* line 292, ../scss/geral.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*Comportamentos gerais*/
/* line 298, ../scss/geral.scss */
#loading-indicator {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #000000;
  opacity: .5;
}

/* line 310, ../scss/geral.scss */
.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  /* -1 * image width / 2 */
  margin-top: -32px;
  /* -1 * image height / 2 */
  display: block;
}

/* Custom page header */
/* line 320, ../scss/geral.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
/* line 325, ../scss/geral.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customize container */
@media (min-width: 768px) {
  /* line 334, ../scss/geral.scss */
  .container {
    max-width: 1024px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* line 344, ../scss/geral.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 350, ../scss/geral.scss */
  .header {
    margin-bottom: 30px;
  }
}
/* Usernavbar - barra de controle de informações do usuário */
/* line 356, ../scss/geral.scss */
.msgCircle {
  float: left;
  color: #ffffff;
  width: 15px;
  height: 15px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  top: 2px;
  z-index: 999999;
  margin-left: 20px;
}

/* line 375, ../scss/geral.scss */
.usernavbar {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-height: 32px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 0px;
}

/* line 386, ../scss/geral.scss */
.navbar-header a, .usernavbar .navbar-nav > li > a {
  padding: 5px 15px;
}

/* line 392, ../scss/geral.scss */
.usernavbar a, .usernavbar li {
  color: #ffffff;
  height: 32px;
}

/* line 397, ../scss/geral.scss */
.usernavbar a:hover, .navbar-brand a:hover {
  background-color: #fcfcfc;
}

/* line 402, ../scss/geral.scss */
.usernavbar .navbar-brand {
  float: left;
  padding: 5px 15px;
  font-size: 0.9rem;
  line-height: 20px;
}

/* line 409, ../scss/geral.scss */
#navabar-rede {
  margin-left: 0px;
}

/* line 413, ../scss/geral.scss */
#navbarMainFixed {
  display: none;
  position: fixed;
  top: 32px;
  z-index: 1000;
  width: 100%;
}

/* line 421, ../scss/geral.scss */
.navbar-brand {
  text-transform: uppercase;
}

/* line 425, ../scss/geral.scss */
.usernavbar .navbar-header {
  height: 32px;
}

/* line 429, ../scss/geral.scss */
.usernavbar span {
  margin-right: 5px;
}

/* Barra de progresso */
/* line 434, ../scss/geral.scss */
.progress {
  margin-bottom: 0px;
  height: 34px;
  width: 100% !important;
  float: right;
}

/* line 441, ../scss/geral.scss */
.progress-bar {
}

/* Define o tamanho da porcentagem da barra de progresso */
/* line 446, ../scss/geral.scss */
.progress10 {
  width: 10%;
}

/* line 449, ../scss/geral.scss */
.progress20 {
  width: 20%;
}

/* line 452, ../scss/geral.scss */
.progress30 {
  width: 30%;
}

/* line 455, ../scss/geral.scss */
.progress40 {
  width: 40%;
}

/* line 458, ../scss/geral.scss */
.progress50 {
  width: 50%;
}

/* line 461, ../scss/geral.scss */
.progress60 {
  width: 60%;
}

/* line 464, ../scss/geral.scss */
.progress70 {
  width: 70%;
}

/* line 467, ../scss/geral.scss */
.progress80 {
  width: 80%;
}

/* line 470, ../scss/geral.scss */
.progress90 {
  width: 90%;
}

/* line 473, ../scss/geral.scss */
.progress100 {
  width: 100%;
}

/* line 477, ../scss/geral.scss */
.sr-only {
  position: relative !important;
  top: 8px;
}

/* Barra de funcionalidades */
/* usar com uma grid 80%*/
/* line 485, ../scss/geral.scss */
.funcionalidades-grid8 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 8px;
  line-height: 32px;
  margin-top: 30px;
  text-transform: uppercase;
  display: block;
}

/* usar com uma grid 100%*/
/* line 499, ../scss/geral.scss */
.funcionalidades-grid12 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 8px;
  line-height: 32px;
  margin-top: 20px;
  text-transform: uppercase;
  display: block;
}

/* line 512, ../scss/geral.scss */
.funcionalidades-grid12 .funcButtons {
  float: left;
}

/* line 516, ../scss/geral.scss */
.funcionalidades-grid12 .progress12 {
  float: left;
  width: 65%;
  margin-left: 20px;
}

/* line 522, ../scss/geral.scss */
.iconFunc {
  float: right;
}

/* Header */
/* line 528, ../scss/geral.scss */
.page-header {
  background-color: #f2f2f2;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 8px;
}

/* line 535, ../scss/geral.scss */
.page-header h1 {
  font-weight: bold;
  line-height: 48px;
  font-size: 32px;
}

/* line 542, ../scss/geral.scss */
.page-header img {
  margin-right: 10px;
}

/* line 546, ../scss/geral.scss */
.user-info {
  color: #808080;
  font: 14px;
}

/* Navbar default - horizontal abaixo do cabeçalho */
/* line 552, ../scss/geral.scss */
.navbar-default {
  background-color: #dfdfdf;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-height: 32px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}

/* line 565, ../scss/geral.scss */
.navbar-default .navbar-nav > li > a {
  padding: 5px 15px;
  height: 32px;
  font-size: 1.4rem;
}

/* line 572, ../scss/geral.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  border-radius: 2px;
}

/* line 578, ../scss/geral.scss */
.navbar-main {
  position: fixed;
  margin-top: 32px;
  width: 100%;
}

/* Barra de Ferramentas do Usuário */
/* line 585, ../scss/geral.scss */
.navbar-scope {
  float: right;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
}

/* line 592, ../scss/geral.scss */
.navbar-scope a {
}

/* line 597, ../scss/geral.scss */
.userScope {
  margin-left: -1px !important;
  text-transform: capitalize;
  font-size: 12px !important;
}

/* line 603, ../scss/geral.scss */
.userScope span {
  font-size: 15px;
  float: left;
  top: 3px;
}

/* Fim da barra de ferramentas do usuário */
/* Copyright Footer */
/* line 612, ../scss/geral.scss */
.footer {
  font: 0.8em Arial, Helvetica, sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  margin-top: 40px;
}

/* line 622, ../scss/geral.scss */
.footer p {
  text-align: center;
  margin: 0px auto;
  padding: 0px 5px;
}

/* line 628, ../scss/geral.scss */
.footer-contact, .footer-copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 633, ../scss/geral.scss */
.footer-contact {
  background-color: #dfdfdf;
}

/* line 637, ../scss/geral.scss */
.footer-copyright {
}

/* Formulários */
/* line 643, ../scss/geral.scss */
input[type="date"] {
  display: block;
  width: 170px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Checked do formulário quando for preencido */
/* line 663, ../scss/geral.scss */
.checked {
  font-size: 16px !important;
}

/* line 667, ../scss/geral.scss */
.checkedLateralMenu {
  float: right;
  color: #adadad !important;
  font-size: 16px !important;
}

/* line 673, ../scss/geral.scss */
.activeLateralMenu {
  float: right;
  font-size: 16px !important;
}

/* ícone de editar o formulário quando tiver preenchido */
/* line 680, ../scss/geral.scss */
.formEdit {
  float: right;
  font-size: 16px !important;
  margin: 7px 8px 0 0 !important;
}

/* Campos desabilitados de formulários */
/* line 690, ../scss/geral.scss */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #f2f2f2 !important;
  border: #adadad !important;
  opacity: 1;
}

/* line 696, ../scss/geral.scss */
.disabled {
  color: #ADADAD !important;
}

/* line 700, ../scss/geral.scss */
label {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
}

/* Para botões sem fundo */
/* line 708, ../scss/geral.scss */
.btn-basic {
  background-color: none;
  border: none;
  font-size: 16px;
}

/* line 716, ../scss/geral.scss */
.btn.disabled {
  color: #ffffff !important;
  background-color: #ADADAD;
}

/* line 726, ../scss/geral.scss */
.btn-default {
  background-color: #dfdfdf;
}

/* line 730, ../scss/geral.scss */
.btn-primary {
}

/* line 735, ../scss/geral.scss */
.btn-primary:hover {
}

/* line 740, ../scss/geral.scss */
.help-block {
  font-size: 0.75em;
  margin: 0 0 0 0;
}

/* line 745, ../scss/geral.scss */
.form-title span.marker {
  color: #ffffff;
  border-radius: 2px;
}

/* line 751, ../scss/geral.scss */
.form-title h3 {
  background-color: #dfdfdf;
  font-size: 1.3rem;
  font-weight: bold;
  height: 32px;
  padding-left: 10px;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
}

/* line 763, ../scss/geral.scss */
.idTitle {
  float: left !important;
  color: #fff;
  width: 33px;
  font-size: 1.9rem;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-left: -10px;
  margin-right: 8px;
}

/* line 776, ../scss/geral.scss */
.idTitleDisabled {
  background-color: #adadad;
  float: left !important;
  color: #fff;
  width: 33px;
  font-size: 1.9rem;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-left: -10px;
  margin-right: 8px;
}

/* line 790, ../scss/geral.scss */
.lgdResultado {
  font-size: 1.3rem;
  font-weight: bold;
  border: 0;
  padding: 10px;
  text-align: left;
  display: inline;
  width: auto !important;
  text-transform: uppercase;
}

/* line 802, ../scss/geral.scss */
.fdResultado {
  border: 1px solid #dddddd;
  padding: 0 35px 10px 10px;
}

/* line 807, ../scss/geral.scss */
.form-title-inf h3 {
  padding-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  height: 32px;
  padding-left: 0px;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
}

/* line 819, ../scss/geral.scss */
div.form-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

/* line 824, ../scss/geral.scss */
.form-group div {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 829, ../scss/geral.scss */
.form-group p, .form-group label {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 834, ../scss/geral.scss */
.form-group p {
  color: #666666;
}

/* line 838, ../scss/geral.scss */
.comandos {
  text-align: right;
  padding-bottom: 10px;
}

/* line 844, ../scss/geral.scss */
.comandos button {
  margin-left: 10px;
}

/* line 848, ../scss/geral.scss */
.nav-tabs li a {
  color: #555555 !important;
}

/* line 852, ../scss/geral.scss */
.btn {
  border-radius: 2px;
}

/* line 856, ../scss/geral.scss */
.btn-clean, .btn-cancel {
  background-color: #ffffff;
}

/* line 861, ../scss/geral.scss */
.btn-clean:hover, .btn-cancel:hover {
  /*border: 1px solid rgba(0,0,0,0);*/
  color: #ffffff;
}

/* line 868, ../scss/geral.scss */
.btn-action {
  background-color: #ffffff;
  color: #508450;
  font-size: 16px;
  text-align: center;
}

/* line 875, ../scss/geral.scss */
.btn-action:hover {
}

/*Tabelas*/
/* line 881, ../scss/geral.scss */
.table-bordered-rounded {
  border-radius: 2px;
}

/* line 885, ../scss/geral.scss */
.tr-titulo {
  background-color: #e6e6e6;
  text-align: center;
  text-valign: middle !important;
}

/* line 890, ../scss/geral.scss */
th {
  border-bottom: none !important;
  border: 1px solid #DADADA;
  border-radius: 2px !important;
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333333;
}

/* line 899, ../scss/geral.scss */
tr {
  color: #333333;
}

/* line 903, ../scss/geral.scss */
td {
  color: #333333;
}

/* line 907, ../scss/geral.scss */
.abas {
  padding-top: 8px;
}

/* line 911, ../scss/geral.scss */
.nav-tabs {
}

/* line 916, ../scss/geral.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs
> li.active > a:focus {
}

/* line 920, ../scss/geral.scss */
.ativo {
  background: #508450;
}

/* line 924, ../scss/geral.scss */
.ativo a {
  color: #ffffff !important;
}

/* line 928, ../scss/geral.scss */
.campoRequerido {
  background: #FFE5E5 !important;
}

/* Mensagens do sistema */
/* line 933, ../scss/geral.scss */
.alert-danger {
  border: 2px solid #b32929;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 942, ../scss/geral.scss */
.alert-success {
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 951, ../scss/geral.scss */
.alert-warning {
  border-radius: 5px;
  background-color: #fff;
  color: #daaf51;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 960, ../scss/geral.scss */
.required {
}

/* line 965, ../scss/geral.scss */
.space {
  margin-left: 10px;
}

/* Paginação por página */
/* line 970, ../scss/geral.scss */
.pager li > a, .pager li > span {
  border-radius: 2px !important;
}

/* line 974, ../scss/geral.scss */
.ng-isolate-scope {
  text-align: center !important;
}

/* line 978, ../scss/geral.scss */
.padGrid {
  padding-left: 1px !important;
}

/* Barra de rolagem com a cor original do tema */
/* line 983, ../scss/geral.scss */
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  filter: alpha(opacity=50);
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
}

.scroll-200 {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}
