body * {
    font-size: 13px;
}

.video-js {
    width: 100%;
    height: 100%;
}

.modal-dialog.modal-xlg {
    width :90%;
    min-width: 800px;
}

.release-notes {
	white-space: pre-line;
	background: #f3f3f3;
	padding: 5px;
}

.release-notes h3 {
    font-weight: bold;
    margin: 2px 0 10px;
    font-size: 14px
}

.content .required {
    color: red
}

.content #toast-container {
    position: initial;
}

.bar.bar-assertive.bar-footer * {
    color: white;
}

.bar.bar-assertive.bar-footer {
    background-color:red;
}

.container {
    margin-bottom: 70px;
}

.content #toast-container .toast{
    width: 100%;
}

.calvin #form-modal a {
    color: #006dcc;
}

.calvin #form-modal a.btn {
    color: #fff;
}

.login-block img {
    margin: -20px 0;
    width: 180px;
}

 input[type="radio"] { margin:4px 4px 0 0 }

.login-block {
    background: #fff;
    margin: 5px;
    padding: 55px 0;
    text-align: center;
}

.login-block .comandos {
    text-align: center;
}

.container.fullscreen,
.container.fullscreen .content,
.container.fullscreen .content > div {
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin:0;
    padding:0;
}

.container.fullscreen {    
    background-image: url(../img/fundo_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container.fullscreen .login-content {
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    display:table;
}

.container.fullscreen .login-inner-content {
    display:table-cell;
    vertical-align:middle;
}

.datetimepicker span.sr-only {
    height: 1px;
    
}
#loading-bar .bar {
    background: #000;
}

.pageHeader {
    margin-bottom: 15px
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #000;
    border-left-color: #000;
}

body .ng-isolate-scope ,
.ng-isolate-scope > * {
    text-align: left !important;
}

.content {
    margin-top: 30px;
}

@media print {
    .print-hidden {
        display:none
    }
}

.ng-table-pagination,
.ng-table-counts button {
    margin-top: 20px;
}

ul.ng-table-pagination li a,
.ng-table-counts button {
    background: #fff;
    box-shadow: none;
}

ul.ng-table-pagination li a:hover,
.ng-table-counts button:hover {
    box-shadow: none;
}

ul.ng-table-pagination li.active a,
.ng-table-counts button.active {
    box-shadow: none;
}

ul.ng-table-pagination li.active a:hover,
.ng-table-counts button.active:hover {
    box-shadow: none;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.checklist label {
    display: block;
    padding: 0;
    margin: 0;
}

.pdf-navbar {
    background: #eee;
    padding: 3px;
    text-align: right;
    border-bottom: 1px solid #999;
}

.pdf-viewer {
    border: 1px solid #999;
    text-align: center;
    background:#ddd;
    overflow: scroll;
    max-height: 1000px;
}

body {
    color: red;
}

body a,
body a:hover,
body a:active{
    color: #fff;
}

.modal,
.content {
    color: #000;
}

.leftMenu,
.content {
    /* margin-bottom: 100px; */
}

.page-header {
    background: no-repeat top center;
    margin: 32px 0 0 0;
    padding: 0;
    height: 95px;
}

.page-header img {
    height: 65px;
    margin: 15px;
}

.breadcrumb {
    border-radius: 0;
    margin-bottom: 1px;
    padding: 2px 15px;
}

.pageHeader {
    padding: 8px 15px;
    font-size: 18px;
    border-top-width: 1px;
    border-top-style: solid;
}

.menuList .boxLevelOne li .idMenu  {
    background: #fff;
}

.menuList li.titleMenu.btnLevelOne,
.menuList .boxLevelOne li {
    border-bottom: 1px solid #fff;
}

.menuList li.titleMenu.btnLevelOne {
    border-top-width: 3px;
    border-top-style: solid;
}

.modal-footer,
.comandos {
    text-align: left;
}

.modal-footer .btn,
.comandos .btn {
    min-width: 100px;
    padding:5 15px;
    border-radius: 0;
    border: 0;
}

.content .input-group-addon .glyphicon,
.content .input-group-btn .glyphicon {
    border: inherit;
    background:inherit;
}

.form-control.text {
    height:auto
}