<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaBoletins'>
            <thead>
                <tr>
                    <th>{{'boletim.titulo' | translate}}</th>
                    <th>{{'boletim.data_boletim' | translate}}</th>
                    <th>{{'boletim.publicacao' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!boletins.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="boletim in boletins.resultados">
                    <td>{{boletim.titulo}}</td>
                    <td class='text-center'>{{boletim.data | date : ('config.pattern.output.date' | translate)}}</td>
                    <td class='text-center'>
                        <label ng-if='boletim.processando' class='label label-warning'>
                            <i class='fa fa-refresh '></i>
                            {{'boletim.processando' | translate}}
                            <span ng-if="boletim.porcentagemProcessamento > 0">
                                ({{boletim.porcentagemProcessamento}}%)
                            </span>
                        </label>
                        <label ng-if='boletim.agendado' class='label label-info'
                               title="{{'boletim.agendado' | translate}}">
                            <i class='fa fa-clock-o'></i>
                            {{boletim.dataPublicacao | date : ('config.pattern.output.dateHour' | translate)}}
                        </label>
                        <label ng-if='boletim.publicado' class='label label-success'>
                            <i class='fa fa-check '></i>
                            {{'boletim.publicado' | translate}}
                        </label>
                        <label ng-if='boletim.rejeitado' class='label label-danger'>
                            <i class='fa fa-exclamation-triangle '></i>
                            {{'boletim.rejeitado' | translate}}
                        </label>
                    </td>
                    <td class="col-sm-3 text-center">
                        <a class="btn btn-default" ng-click="detalhar(boletim)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(boletim)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(boletim)"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="boletim.cadastro">
            {{'boletim.cadastrar' | translate}}
        </a>
    </div>
</div>