<form id="formulario_boletim" name="formulario_boletim" novalidate ng-submit="salvar(this.formulario_boletim)" >
    <div class="col-sm-12" field-form-group='formulario_boletim.titulo'>
        <field-label value="boletim.titulo" for="formulario_boletim.titulo" required="true"></field-label>
        <input name="titulo" class="form-control" ng-model="boletim.titulo" required ></calvin-datepicker>
        <field-message field="formulario_boletim.titulo"></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_boletim.data'>
        <field-label value="boletim.data_boletim" for="formulario_boletim.data" required="true"></field-label>
        <calvin-datepicker date-pattern="{{'config.pattern.input.date' | translate}}" name="data" 
                           ng-model="boletim.data" type="date" min-view='day' required ></calvin-datepicker>
        <field-message field="formulario_boletim.data"></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_boletim.dataPublicacao'>
        <field-label value="boletim.publicacao" for="formulario_boletim.dataPublicacao" required="true"></field-label>
        <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}" name="dataPublicacao" 
                           ng-model="boletim.dataPublicacao" type="date" required ></calvin-datepicker>
        <field-message field="formulario_boletim.dataPublicacao"></field-message>
    </div>
    <div class="col-sm-12" field-form-group="formulario_boletim.boletim">
        <field-label value="boletim.arquivo_boletim" for="formulario_boletim.boletim" required="true"></field-label>
        <input-fileupload name='boletim' ng-model="boletim.boletim" types="['application/pdf']" required ></input-fileupload>
        <field-message field="formulario_boletim.boletim"></field-message>
    </div>
    <div ng-if='!boletim.divulgado' class="col-sm-12">{{'boletim.mensagem_push' | translate}}</div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="boletim">{{'global.cancelar' | translate}}</a>
    </div>
</form>