<app-form>
  <div class="resultados">
    <app-table (paginacao)="busca($event)" [pagina]="estudos">
      <app-column name="estudo">
        <th *appColumnHeader>{{'estudo.estudos' | translate}}</th>
        <td *appCell="let estudo" class="estudo">
          <h2>{{estudo.titulo}}</h2>
          <p>{{estudo.autor}}</p>

          <mat-chip-list>
            <mat-chip *ngIf="estudo.publicado" color="primary" selected>
              <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
              {{'estudo.publicado' | translate}}
            </mat-chip>
            <mat-chip *ngIf="estudo.agendado" color="accent" selected>
              <mat-icon fontSet="fa" fontIcon="fa-clock-o"></mat-icon>
              {{'estudo.agendado' | translate}}
            </mat-chip>
            <mat-chip *ngIf="estudo.processando" color="basic" selected>
              <mat-icon fontSet="fa" fontIcon="fa-refresh"></mat-icon>
              {{'estudo.processando' | translate}}
            </mat-chip>
            <mat-chip *ngIf="estudo.rejeitado" color="warn" selected>
              <mat-icon fontSet="fa" fontIcon="fa-exclamation-triangle"></mat-icon>
              {{'estudo.rejeitado' | translate}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </app-column>

      <app-column name="comandos">
        <th *appColumnHeader class="cmd"></th>
        <td *appCell="let estudo" class="cmd" >
          <command-button routerLink="./{{estudo.id}}/detail" theme="icon">
            <mat-icon>search</mat-icon>
          </command-button>
          <command-button routerLink="./{{estudo.id}}/update" theme="icon">
            <mat-icon>edit</mat-icon>
          </command-button>
          <command-button (click)="excluir(estudo)" theme="icon">
            <mat-icon>delete</mat-icon>
          </command-button>
        </td>
      </app-column>
    </app-table>

    <loader [component]="true" ></loader>
  </div>
</app-form>
