<form id='aplicativo_form' name='aplicativo_form' ng-submit='salvar(this.aplicativo_form)' novalidate>
    <div class="col-md-12" field-form-group='aplicativo_form.funcionalidades'>
        <field-label for='quemSomos' value='aplicativo.funcionalidades' required="false"></field-label>
        <select-checklist name='funcionalidades' ng-model="habilitadas" sort='true'
                          options='funcionalidades' var='func' item-label="'funcionalidade.' + func | translate" ></select-checklist>
        <field-message field='aplicativo_form.funcionalidades' ></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ng-click="carrega()" >{{'global.cancelar' | translate}}</a>
    </div>
</form>