<div>
    <div class="col-sm-12">
        <button class="btn btn-default pull-right" 
                ng-disabled='inProgress' 
                ng-click="vincularConta()"
                ng-show="!flickr.configurado">
            <i class="fa fa-link"></i>
            {{'flickr.vincular_conta' | translate}}
        </button>
        <button class="btn btn-default pull-right"
                ng-disabled='inProgress'
                ng-click="desvincularConta()"
                ng-show="flickr.configurado">
            <i class="fa fa-remove"></i>
            {{'flickr.desativar_integracao' | translate}}
        </button>

        <span ng-show="!flickr.configurado">{{'flickr.mensagem_flickr' | translate}}</span>
    </div>
    
    <div class="col-sm-12" ng-show="galerias.totalResultados">
        <hr/>
    
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="galeria in galerias.resultados" >
                <h2>{{galeria.nome}} <label class="label label-success pull-right" >{{galeria.quantidadeFotos}}</label></h2>
                <p>{{galeria.descricao}}</p>
            </div>
        </div>
    </div>
</div>