<form id="formulario_acesso" name="formulario_acesso" novalidate ng-submit="salvar(this.formulario_acesso)"> 
    <div class="col-md-6">
        <field-label value='colaborador.nome' required="false"></field-label>
        <input ng-model="acesso.colaborador.nome" class="form-control" readonly />
    </div>
    <div class="col-md-6">
        <field-label value='colaborador.email' required="false"></field-label>
        <input ng-model="acesso.colaborador.email" class="form-control" readonly />
    </div>
    <div class="col-md-6" field-form-control='formulario_acesso.perfis'>
        <field-label value='colaborador.acesso.perfis' for='formulario_acesso.perfis'></field-label>
        <select-checklist name='perfis' requierd ng-model="acesso.perfis" 
                          options="perfis" var="p" item-label="p.nome" track-by="p.id"></select-checklist>
        <field-message field='formulario_acesso.perfis'></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ui-sref="colaborador">{{'global.cancelar' | translate}}</a>
    </div>
</form>