<div>
    <form name="busca_colaborador_form" ng-submit="busca()" novalidate>
        <div class="col-sm-6" field-form-group="busca_colaborador_form.nome">
            <field-label for='nome' required='false' value='colaborador.nome' ></field-label>
            <input name='nome' class="form-control" ng-model="filtro.nome" />
        </div>
        <div class="col-sm-6" field-form-group="busca_colaborador_form.email">
            <field-label for='email' required='false' value='colaborador.email' ></field-label>
            <input name='email' class="form-control" ng-model="filtro.email" />
        </div>
        <div class="col-sm-6" field-form-group="busca_colaborador_form.perfs">
            <field-label for='perfis' required='false' value='colaborador.perfis' ></field-label>
            <select-checklist name='perfs' ng-model="filtro.perfil" hide-filter="true" height="100px"
                              options='perfis' var='perfil' item-label='perfil.nome'
                              item-value='perfil.id' ></select-checklist>
        </div>
        <div class="col-sm-12 comandos">
            <hr/>
            <input value="{{'global.buscar' | translate}}" class="btn btn-default" type="submit" />
            <hr/>
        </div>
    </form>
    <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-hover" ng-table='tabelaColaboradores'>
            <thead>
                <tr>
                    <th>{{'colaborador.nome' | translate}}</th>
                    <th>{{'colaborador.email' | translate}}</th>
                    <th>{{'colaborador.colaborador' | translate}}</th>
                    <th>{{'colaborador.admin' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!colaboradores.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="colaborador in colaboradores.resultados">
                    <td>{{colaborador.nome}}</td>
                    <td>{{colaborador.email}}</td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-if="colaborador.colaborador"
                           title="{{'colaborador.redefinir_senha' | translate}}"
                           ng-click="redefinirSenha(colaborador)">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a class="btn btn-default" ng-click="darAcessoColaborador(colaborador)"
                           title="{{'colaborador.dar_acesso' | translate}}" ng-show='colaborador.contato'>
                            <span class="fa fa-pause-circle"></span>
                        </a>
                        <a class="btn btn-default" ng-if="colaborador.colaborador"
                           title="{{'colaborador.retirar_acesso' | translate}}"
                           ng-click="retirarAcessoColaborador(colaborador)">
                            <span class="fa fa-play-circle"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-click="darAcessoAdm(colaborador)"
                           title="{{'colaborador.dar_acesso' | translate}}" ng-if='colaborador.colaborador'>
                            <span ng-if="colaborador.admin" class="fa fa-pencil-square-o"></span>
                            <span ng-if="!colaborador.admin" class="fa fa-pause-circle"></span>
                        </a>
                        <a class="btn btn-default" ng-if="colaborador.admin"
                           title="{{'colaborador.retirar_acesso' | translate}}"
                           ng-click="retirarAcessoAdm(colaborador)">
                            <span class="fa fa-play-circle"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>