<app-ajuda></app-ajuda>
<app-notificacoes></app-notificacoes>
<command-button theme="icon" [matMenuTriggerFor]="menuUsuario">
  <mat-icon>person</mat-icon>
</command-button>
<mat-menu #menuUsuario="matMenu" yPosition="above" [overlapTrigger]="false">

  <button mat-menu-item>
    <img class="foto"
         padrao="assets/imgs/user.png"
         [imagemSrc]="membro?.foto" />
    {{membro?.nome}}
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    {{'global.menu.logout' | translate}}
  </button>

</mat-menu>
