<div class="back">

  <mat-card>
    <div class="logo">
      <img [imagemSrc]="igreja.logoPequena" />

      <h3>{{igreja.nomeAplicativo}}</h3>
      <b>{{igreja.nome}}</b>
    </div>

    <app-form (acao)="login()" >
      <form-control>
        <input-text [placeholder]="'login.username' | translate"
                    name="username" [ngModel]="requisicao.username"
                    disabled></input-text>
      </form-control>

      <form-control>
        <input-password [placeholder]="'login.password' | translate"
                    name="password" [(ngModel)]="requisicao.password"
                    required maxlength="150"></input-password>
      </form-control>

      <div acoes>
        <command-button type="submit" color="primary">
          {{'login.autenticar' | translate}}
        </command-button>
        <command-button type="button" theme="default" (click)="cancelar()">
          {{'global.cancelar' | translate}}
        </command-button>
      </div>
    </app-form>
  </mat-card>

</div>
