<div class="col-sm-12">
    <p ng-bind-html="'home.mensagem_boas_vindas' | translate:'{igreja:\'${nome.igreja}\'}'"></p>
    <p>{{'home.versiculo' | translate}}</p>
    <p>{{'home.bom_trabalho' | translate}}</p>
    
    <div id="toast-container" ng-if="status.notificacoes.length">
        <div ng-repeat="notificacao in status.notificacoes" class="toast toast-warning" >
            <div class="toast-title">{{'home.alerta' | translate}}</div>
            <div class="toast-message">
                <div>{{ notificacao.mensagem | translate:notificacao.args }}</div>
            </div>
        </div>
    </div>

    <div class="release-notes" ng-if="releases.length"><h3>{{'home.novidades' | translate}}</h3><span ng-repeat="release in releases"><b>{{release.versao}} - {{release.data | date:('config.pattern.output.date' | translate)}}</b><br/>{{release.descricao}}<hr ng-if="releases.indexOf(release) < releases.length-1"></span></div>
</div>