app-form {
  position: relative;
  display: block;
}

div.divulgacao {
  margin: 0 20%;

  img {
    width: 100%;
  }
}

.rs.fa {
  margin: 15px 0 0;
  font-size: 25px;
}

.remove-imagem {
  position: absolute;
  right: 20px;
}
