.back {
  position: absolute;
  background: url(../../../../assets/imgs/fundo_login.png) no-repeat;
  background-size: cover;
  top: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: table;

  .view {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
  }
}


@media(max-width: 400px) {
  .back {
    .view {
      width: auto;
      margin: 50px 20px;
    }
  }
}
