.back {
  position: absolute;
  background: url(../../../../assets/imgs/fundo_login.jpg) no-repeat;
  background-size: cover;
  top: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;

  .view {
    display: unset;

    &::ng-deep > * {
      width: 100%;
      height: 100%;
      display: table;
    }

    & > router-outlet {
      width: unset;
      height: unset;
      display: unset;
    }

    &::ng-deep .back {
      display: table-cell;
      vertical-align: middle;
      margin: auto;
      height: 100%;
      padding: 30px;
    }

  }
}


@media(max-width: 400px) {
  .back {
    .view {
      width: auto;
      margin: 50px 20px;
    }
  }
}
