<form id='perfil_form' name='perfil_form' ng-submit="salvar(this.perfil_form)" novalidate>
    <div class="col-sm-12" field-form-group='perfil_form.nome'>
        <field-label for='nome' value='perfil.nome' required="true"></field-label>
        <input name='nome' ng-model="perfil.nome" required class="form-control" />
        <field-message field='perfil_form.nome' ></field-message>
    </div>
    <div class="col-sm-12" field-form-group="perfil_form.funcionalidades">
        <field-label for='nome' value='perfil.funcionalidades' required="true"></field-label>
        <select-checklist name='funcionalidades' ng-model="perfil.funcionalidades" required sort='true'
                          options='funcionalidades' var='func' item-label="'funcionalidade.' + func | translate">
        </select-checklist>
        <field-message field='perfil_form.funcionalidades' ></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="perfil">{{'global.cancelar' | translate}}</a>
    </div>
</form>