<mat-tab-group>
  <mat-tab *ngFor="let ano of anos" label="{{ano.ano}}">

    <mat-tab-group>
      <mat-tab *ngFor="let mes of ano.meses" label="{{'plano_leitura.mes.' + mes.mes | translate}}">

        <form-control *ngFor="let dia of mes.dias">
          <input-text placeholder="{{dia.data | date:'d'}}"
                      name="data{{dia.data | date:'dd-MM-yyyy'}}"
                      [(ngModel)]="dia.descricao" [disabled]="disabled"
                      (change)="applyChanges()"
          ></input-text>
        </form-control>

      </mat-tab>
    </mat-tab-group>

  </mat-tab>

</mat-tab-group>