<form id="formulario_plano_leitura" name="formulario_plano_leitura" novalidate ng-submit="salvar(this.formulario_plano_leitura)">
    <div class="col-md-12" field-form-group='formulario_plano_leitura.descricao'>
        <field-label value="plano_leitura.descricao" for="formulario_plano_leitura.descricao" required="true"></field-label>
        <input name='descricao' ng-model="planoLeitura.descricao"  class="form-control" required />
        <field-message field='formulario_plano_leitura.nome'></field-message>
    </div>
    <div class="col-md-6" field-form-group="formulario_plano_leitura.data_inicio">
        <field-label value="plano_leitura.data_inicio" for="formulario_plano_leitura.data_inicio" ></field-label>
        <calvin-datepicker date-pattern="{{'config.pattern.input.date' | translate}}" name="data_inicio" 
                           ng-model="planoLeitura.dataInicio"  
                           type="date" min-view='day' ></calvin-datepicker>
        <field-message field="formulario_plano_leitura.data_inicio"></field-message>
    </div>
    <div class="col-md-6" field-form-group="formulario_plano_leitura.data_termino">
        <field-label value="plano_leitura.data_termino" for="formulario_plano_leitura.data_termino" ></field-label>
        <calvin-datepicker date-pattern="{{'config.pattern.input.date' | translate}}" name="data_termino" 
                           ng-model="planoLeitura.dataTermino"  
                           type="date" min-view='day' ></calvin-datepicker>
        <field-message field="formulario_plano_leitura.data_termino"></field-message>
    </div>
    <div class="col-md-12">
        <br/>
        <uib-tabset class="nav-pills">
            <uib-tab heading="{{ano}}" ng-repeat="(ano, meses) in agrupamento">
                <hr/>
                <uib-tabset class="nav-pills">
                    <uib-tab heading="{{'plano_leitura.mes.' + mes | translate}}"
                             ng-repeat="(mes, dias) in meses">
                        <table class="table table-stripped">
                            <tr>
                                <th class="col-sm-1 text-right" translate>plano_leitura.dia</th>
                                <th translate>plano_leitura.descricao</th>
                            </tr>
                            <tr ng-repeat="dia in dias">
                                <th class="col-sm-1 text-right">{{dia.data.getDate()}}</th>
                                <td>
                                    <input ng-model="dia.descricao" class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </uib-tab>
                </uib-tabset>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress'  class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress'  ui-sref="planoLeitura">{{'global.cancelar' | translate}}</a>
    </div>
<form>