<div>
    <form name="busca_plano_leitura_form" ng-submit="busca()" novalidate>
        <div class="col-sm-12" field-form-group="busca_plano_leitura_form.descricao">
            <field-label for='descricao' required='false' value='plano_leitura.descricao' ></field-label>
            <input name='descricao' class="form-control" ng-model="filtro.descricao" />
        </div>
        <div class="col-sm-6" field-form-group="busca_plano_leitura_form.data_inicio">
            <field-label for='data_inicio' required='false' value='plano_leitura.data_inicio' ></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.date' | translate}}" name="data_inicio" 
                               ng-model="filtro.dataInicio"  type="date" min-view='day' ></calvin-datepicker>
        </div>
        <div class="col-sm-6" field-form-group="busca_plano_leitura_form.data_termino">
            <field-label for='data_termino' required='false' value='plano_leitura.data_termino' ></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.date' | translate}}" name="data_termino" 
                               ng-model="filtro.dataTermino"  type="date" min-view='day' ></calvin-datepicker>
        </div>
        <div class="col-sm-12 comandos">
            <hr/>
            <input value="{{'global.buscar' | translate}}" class="btn btn-default" type="submit" />
            <hr/>
        </div>
    </form>
    <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-hover" ng-table='tabelaPlanosLeitura'>
            <thead>
                <tr>
                    <th>{{'plano_leitura.descricao' | translate}}</th>
                    <th>{{'plano_leitura.data_inicio' | translate}}</th>
                    <th>{{'plano_leitura.data_termino' | translate}}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!planosLeitura.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="planoLeitura in planosLeitura.resultados">
                    <td>{{planoLeitura.descricao}}</td>
                    <td>{{planoLeitura.dataInicio | date:('config.pattern.output.date' | translate)}}</td>
                    <td>{{planoLeitura.dataTermino | date:('config.pattern.output.date' | translate)}}</td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-click="detalhar(planoLeitura)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(planoLeitura)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="remover(planoLeitura)"
                           ng-if="!plano_leitura.plano_leitura"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="planoLeitura.cadastro">
            {{'plano_leitura.cadastrar' | translate}}
        </a>
    </div>
</div>