<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaEventos'>
            <thead>
                <tr>
                    <th>{{'evento.nome' | translate}}</th>
                    <th class='text-center'>{{'evento.dataHora' | translate}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!eventos.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="evento in eventos.resultados">
                    <td>{{evento.nome}}</td>
                    <td class='text-center'>
                        {{evento.dataHoraInicio | date : ('config.pattern.output.dateHour' | translate)}} - {{evento.dataHoraTermino | date : ('config.pattern.output.dateHour' | translate)}}
                    </td>
                    <td class="col-sm-4 text-center">
                        <a class="btn btn-default" ng-click="detalhar(evento)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(evento)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="copiar(evento)"
                           title="{{'global.copiar' | translate}}">
                            <span class="fa fa-clone"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(evento)"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                    <td class="col-sm-1 text-center">
                        <a class="btn btn-default" ng-click="inscritos(evento)"
                           title="{{'evento.inscricao.inscricao' | translate}}">
                            <span class="fa fa-list"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="evento.cadastro">
            {{'evento.cadastrar' | translate}}
        </a>
        <a class="btn btn-default pull-right" target="_blank" ng-if="headers"
           href="/app/rest/evento/inscricoes/EVENTO.xls?{{headers}}">
            <i class="fa fa-lg fa-file-excel-o" ></i>
            {{'evento.exportar_inscritos' | translate}}
        </a>
    </div>
</div>