<form id="formulario_evento" name="formulario_evento" novalidate ng-submit="salvar(this.formulario_evento)" >
    <div >
        <div class="col-sm-12" field-form-group='formulario_evento.nome'>
            <field-label value="evento.nome" for="formulario_evento.nome" required="true"></field-label>
            <input name="nome" ng-model="evento.nome" required class="form-control" />
            <field-message field="formulario_evento.nome"></field-message>
        </div>
        <div class="col-sm-12" field-form-group='formulario_evento.descricao'>
            <field-label value="evento.descricao" for="formulario_evento.descricao" required="true"></field-label>
            <textarea name="descricao" ng-model="evento.descricao" required class="form-control" ></textarea>
            <field-message field="formulario_evento.descricao"></field-message>
        </div>
        <div class="col-sm-6" field-form-group='formulario_evento.dataHoraInicio'>
            <field-label value="evento.dataHoraInicio" for="formulario_evento.dataHoraInicio" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataHoraInicio" ng-model="evento.dataHoraInicio" required ></calvin-datepicker>
            <field-message field="formulario_evento.dataHoraInicio"></field-message>
        </div>
        <div class="col-sm-6" field-form-group='formulario_evento.dataHoraTermino'>
            <field-label value="evento.dataHoraTermino" for="formulario_evento.dataHoraTermino" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataHoraTermino" ng-model="evento.dataHoraTermino" required ></calvin-datepicker>
            <field-message field="formulario_evento.dataHoraTermino"></field-message>
        </div>
    </div>
    <div class='clearfix'></div>
    <hr/>
    
    <h3 class='col-sm-12'>{{'evento.inscricao.inscricao' | translate}}</h3>
    <div >
        <div class="col-sm-6" field-form-group='formulario_evento.dataInicioInscricao'>
            <field-label value="evento.inscricao.data_inicio" for="formulario_evento.dataInicioInscricao" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataInicioInscricao" ng-model="evento.dataInicioInscricao" required ></calvin-datepicker>
            <field-message field="formulario_evento.dataInicioInscricao"></field-message>
        </div>
        <div class="col-sm-6" field-form-group='formulario_evento.dataTerminoInscricao'>
            <field-label value="evento.inscricao.data_termino" for="formulario_evento.dataTerminoInscricao" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataTerminoInscricao" ng-model="evento.dataTerminoInscricao" required ></calvin-datepicker>
            <field-message field="formulario_evento.dataTerminoInscricao"></field-message>
        </div>
        <div class="col-sm-4" field-form-group='formulario_evento.limiteInscricoes'>
            <field-label value="evento.inscricao.limite_inscricoes" for="formulario_evento.limiteInscricoes" required="true"></field-label>
            <input name="limiteInscricoes" class='form-control'
                   ng-model="evento.limiteInscricoes" required ui-number-mask="0" />
            <field-message field="formulario_evento.limiteInscricoes"></field-message>
        </div>
        <div class="col-sm-4" field-form-group='formulario_evento.exigePagamento'>
            <field-label value="evento.inscricao.exige_pagamento" for="formulario_evento.exigePagamento" required="true"></field-label><br/>
            <input type='radio' ng-value="true" name="exigePagamento" ng-model="evento.exigePagamento" required />{{'global.sim' | translate}}
            <input type='radio' ng-value="false" name="exigePagamento" ng-model="evento.exigePagamento" required />{{'global.nao' | translate}}
        </div>
        <div class="col-sm-4" field-form-group='formulario_evento.valor' ng-if='evento.exigePagamento'>
            <field-label value="evento.inscricao.valor" for="formulario_evento.valor" required="true"></field-label>
            <input class="form-control" ui-number name="valor" ui-number-mask
                   ng-model="evento.valor" required="{{evento.exigePagamento}}" />
            <field-message field="formulario_evento.valor"></field-message>
        </div>
    </div>
    
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="evento">{{'global.cancelar' | translate}}</a>
    </div>
</form>