<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table="tabelaInscricoes">
            <thead>
                <tr>
                    <th>{{'evento.inscricao.inscrito' | translate}}</th>
                    <th>{{'evento.inscricao.data' | translate}}</th>
                    <th>{{'evento.inscricao.status.status' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!inscricoes.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="inscricao in inscricoes">
                    <td>
                        {{inscricao.nomeInscrito}}<br/>
                        <a href='mailto:{{inscricao.emailInscrito}}'>{{inscricao.emailInscrito}}</a> - {{inscricao.telefoneInscrito}}
                    </td>
                    <td class='text-center'>{{inscricao.data | date : ('config.pattern.output.dateHour' | translate)}}</td>
                    <td class="text-center">{{'evento.inscricao.status.' + inscricao.status | translate}}</td>
                    <td class="text-center">
                        <a class='btn btn-default' ng-click='confirmar(inscricao)' ng-if='!inscricao.confirmada'>
                            <i class='fa fa-check'></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="evento">{{'global.voltar' | translate}}</a>
    </div>
</div>