<form id="formulario_cifra" name="formulario_cifra" novalidate ng-submit="salvar(this.formulario_cifra)" >
    <div class="col-sm-4" field-form-group='formulario_cifra.numero'>
        <field-label value="cifra.titulo" for="formulario_cifra.numero" required="true"></field-label>
        <input name="titulo" class="form-control" ng-model="cifra.numero" required ></calvin-datepicker>
        <field-message field="formulario_cifra.numero"></field-message>
    </div>
    <div class="col-sm-8" field-form-group='formulario_cifra.titulo'>
        <field-label value="cifra.titulo" for="formulario_cifra.titulo" required="true"></field-label>
        <input name="titulo" class="form-control" ng-model="cifra.titulo" required ></calvin-datepicker>
        <field-message field="formulario_cifra.titulo"></field-message>
    </div>
    <div class="col-sm-12" field-form-group="formulario_cifra.cifra">
        <field-label value="cifra.cifra" for="formulario_cifra.cifra" required="true"></field-label>
        <input-fileupload name='cifra' ng-model="cifra.cifra" required ></input-fileupload>
        <field-message field="formulario_cifra.cifra"></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="cifra">{{'global.cancelar' | translate}}</a>
    </div>
</form>