<app-form>
  <div class="resultados">
    <app-table [resultados]="banners">
      <app-column name="banner">
        <th *appColumnHeader>{{'banner.banners' | translate}}</th>
        <td *appCell="let banner" class="banner">
          <img [imagemSrc]="banner.banner" />
          <div>
            <a *ngIf="banner.linkExterno" [href]="banner.linkExterno" target="_blank">{{banner.linkExterno}}</a>
          </div>
        </td>
      </app-column>

      <app-column name="comandos">
        <th *appColumnHeader class="cmd"></th>
        <td *appCell="let banner" class="cmd" >
          <command-button routerLink="./{{banner.id}}/detail" theme="icon"
                          [matTooltip]="'global.detalhar' | translate">
            <mat-icon>search</mat-icon>
          </command-button>
          <command-button routerLink="./{{banner.id}}/update" theme="icon"
                          [matTooltip]="'global.editar' | translate">
            <mat-icon>edit</mat-icon>
          </command-button>
          <command-button (click)="excluir(banner)" theme="icon"
                          [matTooltip]="'global.excluir' | translate">
            <mat-icon>delete</mat-icon>
          </command-button>
        </td>
      </app-column>
    </app-table>

    <loader [component]="true" ></loader>
  </div>
</app-form>
