<p [unsafeInnerHtml]="'home.mensagem_boas_vindas' | translate:{igreja: igreja.nome}"></p>
<p>
  {{'home.versiculo' | translate}}
</p>
<p>
  {{'home.bom_trabalho' | translate}}
</p>

<div class="row">
  <div class="col-12 col-md-6 widget">
    <app-widget-usuarios></app-widget-usuarios>
  </div>
  <div class="col-12 col-md-6 widget">
    <app-widget-historico-usuarios></app-widget-historico-usuarios>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 widget">
    <app-widget-dispositivos></app-widget-dispositivos>
  </div>
  <div class="col-12 col-md-6 widget">
    <app-widget-historico-dispositivos></app-widget-historico-dispositivos>
  </div>
</div>

