<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaAudios'>
            <thead>
                <tr>
                    <th>{{'audio.titulo' | translate}}</th>
                    <th>{{'audio.autor' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!audios.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="audio in audios.resultados">
                    <td>{{audio.titulo}}</td>
                    <td>{{audio.autor}}</td>
                    <td class="col-sm-3 text-center">
                        <a class="btn btn-default" ng-click="detalhar(audio)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(audio)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(audio)"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="audio.cadastro">
            {{'audio.cadastrar' | translate}}
        </a>
    </div>
</div>