mat-card {

  .logo {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding-bottom: 40px;

    img {
      width: 200px;
      height: 200px;
    }
  }

  command-button {
    width: 100%;
  }
}
