<p class="help-block" ng-message="required">{{'mensagens.MSG-006' | translate}}</p>
<p class="help-block" ng-message="maxlength">{{'mensagens.MSG-010'| translate}}</p>
<p class="help-block" ng-message="minlength">{{'mensagens.MSG-011'| translate }}</p>
<p class="help-block" ng-message="cpf_validate">{{'mensagens.MSG-012' | translate}}</p>
<p class="help-block" ng-message="email">{{'mensagens.MSG-013' | translate}}</p>
<p class="help-block" ng-message="date">{{'mensagens.MSG-014' | translate}}</p>
<p class="help-block" ng-message="backend">{{field.$errorMessage | translate:field.$errorArgs}}</p>