<form id="formulario_agenda" name="formulario_agenda" ng-submit="salvar(this.formulario_agenda)" novalidate>
    <div class="col-sm-6" field-form-group="formulario_agenda.pastor">
        <field-label value='agenda.pastor' for='formulario_agenda.pastor' required='!agenda.id'></field-label>
        <span class='form-control' ng-if="agenda.id">{{agenda.pastor.nome}}</span>
        <select ng-if="!agenda.id" ng-model="agenda.pastor" name="pastor"
                ng-options="pastor.nome for pastor in pastores"
                class="form-control" required></select>
        <field-message field='formulario_agenda.pastor'></field-message>
    </div>
    <div class="col-sm-12"  ng-show='agenda.id' ng-controller="HorarioAgendaController">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <field-label value='agenda.horario.diasSemana' ></field-label>
                <select-checklist ng-model="horario.diasSemana" options="diasSemana" hide-filter="true" height='100px'
                               var="ds" item-label="'agenda.diaSemana.' + ds | translate"></select-checklist>
            </div>
            <div class="col-md-8 col-sm-12">
                <field-label value='agenda.horario.horario' ></field-label>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <calvin-datepicker name="horaInicio" start-view='hour'
                               date-pattern="{{'config.pattern.input.hour' | translate}}"
                               ng-model="horario.horaInicio"></calvin-datepicker >
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <calvin-datepicker name="horaFim" start-view='hour'
                               date-pattern="{{'config.pattern.input.hour' | translate}}"
                               ng-model="horario.horaFim"></calvin-datepicker >
                    </div>
                </div>
                <field-label value='agenda.horario.periodo' required="false" ></field-label>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <calvin-datepicker name="dataInicio" min-view='day'
                               date-pattern="{{'config.pattern.input.date' | translate}}"
                               ng-model="horario.dataInicio"></calvin-datepicker >
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <calvin-datepicker name="dataFim" min-view='day'
                               date-pattern="{{'config.pattern.input.date' | translate}}"
                               ng-model="horario.dataFim"></calvin-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br/>
                <a class="btn btn-default" ng-click="addHorario(formulario_agenda)">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{'agenda.horario.adicionar' | translate}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-controller="AgendaController" ng-if='agenda.id' >
        <field-label value='agenda.calendario' for='formulario_agenda.calendario'></field-label>
        <div ui-calendar='calendario' class='calendar' ng-model='eventSources' name="calendario" calendar="agenda" ></div>
    </div>
    <div class="col-sm-12 comandos" >
        <hr/>
        <input ng-disabled='inProgress' ng-if='!agenda.id' type="submit" class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a ng-disabled='inProgress' ng-if='!agenda.id' class="btn btn-default" ui-sref="agenda">{{'global.cancelar' | translate}}</a>
        <a ng-disabled='inProgress' ng-if='agenda.id' class="btn btn-default" ui-sref="agenda">{{'global.voltar' | translate}}</a>
    </div>
</form>