<form id='formulario_notificacao' name='formulario_notificacao' ng-submit="enviar(this.formulario_notificacao)" novalidate>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12" field-form-group='formulario_notificacao.titulo'>
                <field-label value='notificacao.titulo' for='formulario_notificacao.titulo' required="false"></field-label>
                <input name='titulo' placeholder="{{'global.opcional' | translate}}" ng-model="notificacao.titulo" class="form-control" maxlength="30" />
                <field-message field='formulario_notificacao.titulo'></field-message>
            </div>
            <div class="col-md-12" field-form-group='formulario_notificacao.mensagem'>
                <field-label value='notificacao.mensagem' for='formulario_notificacao.mensagem'></field-label>
                <textarea name='mensagem' required rows="5" ng-model="notificacao.mensagem" class="form-control" maxlength="150" ></textarea>
                <field-message field='formulario_notificacao.mensagem'></field-message>
                <span>{{'global.caracteres_restantes' | translate:{quantidade:150-notificacao.mensagem.length} }}</span>
                <hr/>
                <field-label value='notificacao.apenas_gerentes' for='formulario_notificacao.apenas_gerentes'></field-label><br/>
                <input type='radio' ng-value="true" name="apenasGerentes" ng-model="notificacao.apenasGerentes" required />{{'global.sim' | translate}}
                <input type='radio' ng-value="false" name="apenasGerentes" ng-model="notificacao.apenasGerentes" required />{{'global.nao' | translate}}
            </div>
        </div>
    </div>
    <div class="col-md-6" field-form-group='formulario_notificacao.lotacoesAlvo'>
        <field-label value='notificacao.lotacoes' for='formulario_notificacao.lotacoesAlvo'></field-label>
        <select-checklist name='lotacoesAlvo' ng-model="notificacao.lotacoesAlvo"
            options="lotacoes" var="lotacao" item-label="lotacao.nome" track-by="lotacao.id" required >
        </select-checklist>
        <field-message field='formulario_notificacao.lotacoesAlvo'></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.enviar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ng-click="carrega()" >{{'global.cancelar' | translate}}</a>
    </div>
</form>