<form id="formulario_cantico" name="formulario_cantico" novalidate ng-submit="salvar(this.formulario_cantico)" >
    <div class="col-sm-6" field-form-group='formulario_cantico.titulo'>
        <field-label value="cantico.titulo" for="formulario_cantico.titulo" required="true"></field-label>
        <input name="titulo" class="form-control" ng-model="cantico.titulo" maxlength="150" required />
        <field-message field="formulario_cantico.titulo"></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_cantico.autor'>
        <field-label value="cantico.autor" for="formulario_cantico.autor" required="true"></field-label>
        <input name="autor" class="form-control" ng-model="cantico.autor" maxlength="150" required />
        <field-message field="formulario_cantico.autor"></field-message>
    </div>
    <div class="col-sm-12" field-form-group="formulario_cantico.cantico">
        <field-label value="cantico.arquivo_cantico" for="formulario_cantico.cantico" required="true"></field-label>
        <input-fileupload name='cantico' ng-model="cantico.cifra" types="['application/pdf']" on-upload='carregaLetra' required ></input-fileupload>
        <field-message field="formulario_cantico.cantico"></field-message>
    </div>
    <div class="col-sm-12" field-form-group='formulario_cantico.letra'>
        <field-label value="cantico.letra" for="formulario_cantico.letra" required="true"></field-label>
        <textarea name="letra" rows='10' class="form-control" ng-model="cantico.letra" required ></textarea>
        <field-message field="formulario_cantico.letra"></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="cantico">{{'global.cancelar' | translate}}</a>
    </div>
</form>