<form id="formulario_colaborador" name="formulario_colaborador" novalidate ng-submit="salvar(this.formulario_colaborador)">
    <div class="col-md-6" field-form-group='formulario_colaborador.nome'>
        <field-label value="colaborador.nome" for="formulario_colaborador.nome" required="true"></field-label>
        <input name='nome' ng-model="colaborador.nome"  class="form-control" required />
        <field-message field='formulario_colaborador.nome'></field-message>
    </div>
    <div class="col-md-6" field-form-group='formulario_colaborador.email'>
        <field-label value="colaborador.email" for="formulario_colaborador.email" required="false" ></field-label>
        <input name='email' ng-model="colaborador.email"  class="form-control" />
        <field-message field='formulario_colaborador.email'></field-message>
    </div>
    <div class="col-md-6" field-form-group="formulario_colaborador.nascimento">
        <field-label value="colaborador.nascimento" for="formulario_colaborador.nascimento" required="false"></field-label>
        <calvin-datepicker date-pattern="{{'config.pattern.input.date' | translate}}" name="nascimento" 
                           ng-model="colaborador.dataNascimento"  type="date" min-view='day' ></calvin-datepicker>
        <field-message field="formulario_colaborador.nascimento"></field-message>
    </div>
    <div class="col-md-6" form-group-field="formulario_colaborador.lotacao">
        <field-label for="formulario_colaborador.lotacao" required="false" value="colaborador.lotacao"></field-label>
        <div class="input-group">
            <select ng-model="colaborador.lotacao" class="form-control" name="lotacao"
                    ng-options='lotacao as lotacao.nome for lotacao in lotacoes track by lotacao.id'>
                <option>{{'global.selecione' | translate}}</option>
            </select>
            <a class="input-group-addon btn btn-default" ng-click="cadastrarLotacao()">
                <span class="fa fa-plus" ></span>
            </a>
        </div>
        <field-message field="formulario_colaborador.lotacao" ></field-message>
    </div>
    <div class="col-md-6">
        <div ng-if='!colaborador.visitante' field-form-group='formulario_colaborador.gerente'>
            <input id="gerente" name='gerente' type="checkbox" ng-model="colaborador.gerente"  />
            <field-label value="colaborador.gerente" required='false' for="formulario_colaborador.gerente"></field-label>
        </div>
    </div>
    <div class="col-md-6">
        <div field-form-group='formulario_colaborador.dados_disponiveis'>
            <input id="dados_disponiveis" ng-disabled="!colaborador.desejaDisponibilizarDados" name='dados_disponiveis' type="checkbox" ng-model="colaborador.dadosDisponiveis"  />
            <field-label value="colaborador.dados_disponiveis" required='false' for="formulario_colaborador.dados_disponiveis"></field-label>
        </div>
    </div>
    <div class="col-sm-12" field-form-group="formulario_colaborador.foto">
        <field-label value="colaborador.foto_colaborador" for="formulario_colaborador.foto" required="false" ></field-label>
        <input-fileupload name='foto' ng-model="colaborador.foto" types="['image/jpeg','image/png','image/gif']" ></input-fileupload>
        <field-message field="formulario_colaborador.foto"></field-message>
    </div>
    <form-endereco ng-model="colaborador.endereco" required="false" ></form-endereco>
    <div class="col-sm-12" field-form-group='formulario_colaborador.telefones'>
        <field-label value="colaborador.telefones" required='false' for="formulario_colaborador.telefones" ></field-label>
        <input-telefones name='telefones' ng-model="colaborador.telefones" name='telefones' ></input-telefones>
        <field-message field='formulario_colaborador.telefones'></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress'  class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress'  ui-sref="contato">{{'global.cancelar' | translate}}</a>
    </div>
<form>
