<div>
    <form name="busca_colaborador_form" ng-submit="busca()" novalidate>
        <div class="col-sm-6" field-form-group="busca_colaborador_form.nome">
            <field-label for='nome' required='false' value='colaborador.nome' ></field-label>
            <input name='nome' class="form-control" ng-model="filtro.nome" />
        </div>
        <div class="col-sm-6" field-form-group="busca_colaborador_form.email">
            <field-label for='email' required='false' value='colaborador.email' ></field-label>
            <input name='email' class="form-control" ng-model="filtro.email" />
        </div>
        <div class="col-sm-12 comandos">
            <hr/>
            <input value="{{'global.buscar' | translate}}" class="btn btn-default" type="submit" />
            <hr/>
        </div>
    </form>
    <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-hover" ng-table='tabelaColaboradors'>
            <thead>
                <tr>
                    <th>{{'colaborador.nome' | translate}}</th>
                    <th>{{'colaborador.email' | translate}}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!colaboradores.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="colaborador in colaboradores.resultados">
                    <td>{{colaborador.nome}}</td>
                    <td>{{colaborador.email}}</td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-click="detalhar(colaborador)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(colaborador)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="remover(colaborador)"
                           ng-if="!colaborador.colaborador"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="contato.cadastro">
            {{'contato.cadastrar' | translate}}
        </a>
        <a class="btn btn-default pull-right" target="_blank" ng-if="headers"
           href="/app/rest/colaborador/exportar.xls?{{headers}}">
            <i class="fa fa-lg fa-file-excel-o" ></i>
            {{'contato.exportar_contatos' | translate}}
        </a>
    </div>
</div>