<app-form>
  <div class="resultados">
    <app-table (paginacao)="busca($event)" [pagina]="votacoes">
      <app-column name="votacao">
        <th *appColumnHeader>{{'votacao.votacoes' | translate}}</th>
        <td *appCell="let votacao" class="votacao">
          <h2>{{votacao.descricao}}</h2>
          <p>{{votacao.dataInicio | date:'dd/MM/yyyy'}} - {{votacao.dataTermino | date:'dd/MM/yyyy'}}</p>
        </td>
      </app-column>

      <app-column name="comandos">
        <th *appColumnHeader class="cmd"></th>
        <td *appCell="let votacao" class="cmd" >
          <command-button routerLink="./{{votacao.id}}/detail" theme="icon"
                          [matTooltip]="'global.detalhar' | translate">
            <mat-icon>search</mat-icon>
          </command-button>
          <command-button (click)="exportar(votacao)" theme="icon">
            <mat-icon>format_list_bulleted</mat-icon>
          </command-button>
          <command-button routerLink="./{{votacao.id}}/update" theme="icon"
                          [matTooltip]="'global.editar' | translate">
            <mat-icon>edit</mat-icon>
          </command-button>
          <command-button (click)="excluir(votacao)" theme="icon"
                          [matTooltip]="'global.excluir' | translate">
            <mat-icon>delete</mat-icon>
          </command-button>
        </td>
      </app-column>
    </app-table>

    <loader [component]="true" ></loader>
  </div>
</app-form>
