<div>
    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-table='tabelaNoticias'>
            <thead>
                <tr>
                    <th>{{'classificados.titulo' | translate}}</th>
                    <th>{{'classificados.autor' | translate}}</th>
                    <th>{{'classificados.publicacao' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!classificados.resultados.length">
                    <td colspan="100%">{{'mensagens.MSG-008' | translate}}</td>
                </tr>
                <tr ng-repeat="classificados in classificados.resultados">
                    <td>{{classificados.titulo}}</td>
                    <td>{{classificados.autor.nome}}</td>
                    <td>{{classificados.dataPublicacao | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td class="col-sm-3 text-center">
                        <a class="btn btn-default" ng-click="detalhar(classificados)"
                           title="{{'global.detalhar' | translate}}">
                            <span class="fa fa-search"></span>
                        </a>
                        <a class="btn btn-default" ng-click="editar(classificados)"
                           title="{{'global.editar' | translate}}">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a class="btn btn-default" ng-click="excluir(classificados)"
                           title="{{'global.excluir' | translate}}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ui-sref="classificados.cadastro">
            {{'classificados.cadastrar' | translate}}
        </a>
    </div>
</div>