<div>
    <div class="col-sm-12" >
        <label translate>classificados.titulo</label>
        <div class="form-control">{{classificados.titulo}}</div>
    </div>
    <div class="col-sm-6" >
        <label translate>classificados.autor</label>
        <div class="form-control">{{classificados.autor.nome}}</div>
    </div>
    <div class="col-sm-6" >
        <field-label value='classificados.publicacao' for='formulario_classificados.dataPublicacao' required='false'></field-label>
        <div class="form-control">{{classificados.dataPublicacao | date:('config.pattern.output.dateHour' | translate)}}</div>
    </div>
    <div class="col-md-12" ng-if="classificados.ilustracao">
        <label translate>classificados.ilustracao</label>
        <div class="form-control" ><link-arquivo ng-model="classificados.ilustracao" ></link-arquivo></div>
    </div>
    <div class="col-sm-12" >
        <label translate>classificados.texto</label>
        <p class='form-control text' ng-bind-html='classificados.texto'></p>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="classificados">{{'global.voltar' | translate}}</a>
    </div>
</div>