<app-form (acao)="salvar()">

  <form-control>
    <input-text [placeholder]="'ebd.nome'| translate"
                name="nome" [(ngModel)]="ebd.nome"
                required maxlength="250"></input-text>
  </form-control>

  <form-control>
    <input-textarea [placeholder]="'ebd.descricao'| translate"
                    name="descricao" [(ngModel)]="ebd.descricao"
                    rows="3" required ></input-textarea>
  </form-control>

  <div class="row">
    <form-control class="col-sm-6">
      <input-data [placeholder]="'ebd.data_hora_inicio' | translate" type="datetime"
                  name="dataHoraInicio" [(ngModel)]="ebd.dataHoraInicio"
                  required ></input-data>
    </form-control>

    <form-control class="col-sm-6">
      <input-data [placeholder]="'ebd.data_hora_termino' | translate" type="datetime"
                  name="dataHoraTermino" [(ngModel)]="ebd.dataHoraTermino"
                  required ></input-data>
    </form-control>
  </div>

  <form-control>
    <input-fileupload [label]="'ebd.banner_ebd'| translate"
                      [accept]="['jpeg','jpg','gif','png']"
                      name="banner" [(ngModel)]="ebd.banner"
    ></input-fileupload>
  </form-control>

  <hr/>

  <h3>{{'ebd.inscricao.inscricao' | translate}}</h3>

  <div class="row">
    <form-control class="col-sm-6">
      <input-data [placeholder]="'ebd.inscricao.data_inicio'| translate"
                  required type="datetime"
                  name="dataInicioInscricao" [(ngModel)]="ebd.dataInicioInscricao"
      ></input-data>
    </form-control>

    <form-control class="col-sm-6">
      <input-data [placeholder]="'ebd.inscricao.data_termino'| translate"
                  required type="datetime"
                  name="dataTerminoInscricao" [(ngModel)]="ebd.dataTerminoInscricao"
      ></input-data>
    </form-control>
  </div>


  <div class="row">
    <form-control class="col-md-4">
      <input-text [placeholder]="'ebd.inscricao.limite_inscricoes'| translate"
                  required valorMinimo="0" type="number"
                  name="limiteInscricoes" [(ngModel)]="ebd.limiteInscricoes"
      ></input-text>
    </form-control>

    <form-control class="col-md-4">
      <select-boolean-slider [label]="'ebd.inscricao.exige_pagamento'| translate"
                             name="exigePagamento" [(ngModel)]="ebd.exigePagamento"
      ></select-boolean-slider>
    </form-control>

    <form-control class="col-md-4" *ngIf="ebd.exigePagamento">
      <input-monetario [placeholder]="'ebd.inscricao.valor'| translate"
                       name="valor" [(ngModel)]="ebd.valor"
                       valorMinimoMonetario="0" required
      ></input-monetario>
    </form-control>
  </div>

  <div acoesEsquerda>
    <command-button type="submit" color="primary" *ngIf="edicao" >{{'global.salvar' | translate}}</command-button>
    <command-button type="button" theme="default" routerLink="../" >{{(edicao ? 'global.cancelar' : 'global.voltar') | translate}}</command-button>
  </div>

</app-form>
