<form id="formulario_ebd" name="formulario_ebd" novalidate ng-submit="salvar(this.formulario_ebd)" >
    <div >
        <div class="col-sm-12" field-form-group='formulario_ebd.nome'>
            <field-label value="ebd.nome" for="formulario_ebd.nome" required="true"></field-label>
            <input name="nome" ng-model="ebd.nome" required class="form-control" />
            <field-message field="formulario_ebd.nome"></field-message>
        </div>
        <div class="col-sm-12" field-form-group='formulario_ebd.descricao'>
            <field-label value="ebd.descricao" for="formulario_ebd.descricao" required="true"></field-label>
            <textarea name="descricao" ng-model="ebd.descricao" required class="form-control" ></textarea>
            <field-message field="formulario_ebd.descricao"></field-message>
        </div>
        <div class="col-sm-6" field-form-group='formulario_ebd.dataHoraInicio'>
            <field-label value="ebd.dataHoraInicio" for="formulario_ebd.dataHoraInicio" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataHoraInicio" ng-model="ebd.dataHoraInicio" required ></calvin-datepicker>
            <field-message field="formulario_ebd.dataHoraInicio"></field-message>
        </div>
        <div class="col-sm-6" field-form-group='formulario_ebd.dataHoraTermino'>
            <field-label value="ebd.dataHoraTermino" for="formulario_ebd.dataHoraTermino" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataHoraTermino" ng-model="ebd.dataHoraTermino" required ></calvin-datepicker>
            <field-message field="formulario_ebd.dataHoraTermino"></field-message>
        </div>
    </div>
    <div class='clearfix'></div>
    <hr/>
    
    <h3 class='col-sm-12'>{{'ebd.inscricao.inscricao' | translate}}</h3>
    <div >
        <div class="col-sm-6" field-form-group='formulario_ebd.dataInicioInscricao'>
            <field-label value="ebd.inscricao.data_inicio" for="formulario_ebd.dataInicioInscricao" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataInicioInscricao" ng-model="ebd.dataInicioInscricao" required ></calvin-datepicker>
            <field-message field="formulario_ebd.dataInicioInscricao"></field-message>
        </div>
        <div class="col-sm-6" field-form-group='formulario_ebd.dataTerminoInscricao'>
            <field-label value="ebd.inscricao.data_termino" for="formulario_ebd.dataTerminoInscricao" required="true"></field-label>
            <calvin-datepicker date-pattern="{{'config.pattern.input.dateHour' | translate}}"
                               name="dataTerminoInscricao" ng-model="ebd.dataTerminoInscricao" required ></calvin-datepicker>
            <field-message field="formulario_ebd.dataTerminoInscricao"></field-message>
        </div>
        <div class="col-sm-4" field-form-group='formulario_ebd.limiteInscricoes'>
            <field-label value="ebd.inscricao.limite_inscricoes" for="formulario_ebd.limiteInscricoes" required="true"></field-label>
            <input name="limiteInscricoes" class='form-control'
                   ng-model="ebd.limiteInscricoes" required ui-number-mask="0" />
            <field-message field="formulario_ebd.limiteInscricoes"></field-message>
        </div>
        <div class="col-sm-4" field-form-group='formulario_ebd.exigePagamento'>
            <field-label value="ebd.inscricao.exige_pagamento" for="formulario_ebd.exigePagamento" required="true"></field-label><br/>
            <input type='radio' ng-value="true" name="exigePagamento" ng-model="ebd.exigePagamento" required />{{'global.sim' | translate}}
            <input type='radio' ng-value="false" name="exigePagamento" ng-model="ebd.exigePagamento" required />{{'global.nao' | translate}}
        </div>
        <div class="col-sm-4" field-form-group='formulario_ebd.valor' ng-if='ebd.exigePagamento'>
            <field-label value="ebd.inscricao.valor" for="formulario_ebd.valor" required="true"></field-label>
            <input class="form-control" ui-number name="valor" ui-number-mask
                   ng-model="ebd.valor" required="{{ebd.exigePagamento}}" />
            <field-message field="formulario_ebd.valor"></field-message>
        </div>
    </div>
    
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="ebd">{{'global.cancelar' | translate}}</a>
    </div>
</form>