<div class="input-group">
    <input ng-attr-id="{{name}}" ng-attr-name="{{name}}" ng-attr-maxlength="{{mask.length}}"
           class="input-datapicker form-control" ng-disabled="disabled" 
           ng-model="model" data-date-time-input="{{pattern}}" >
    <div class="dropdown input-group-btn">
        <a class="btn btn-default dropdown-toggle" id="dropdown{{name}}" role="button" data-toggle="dropdown" href="">
            <i class="fa fa-calendar"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
            <datetimepicker parse-datetime data-ng-model="model" 
                            data-datetimepicker-config="config"/>
        </ul>
    </div>
</div>