<div>
    <div class="col-sm-12">
        <button class="btn btn-default pull-right" ng-disabled='inProgress' ng-click="vincularConta()">
            {{'youtube.vincular_conta' | translate}}
        </button>
        
        {{'youtube.mensagem_youtube' | translate}}
    </div>
    
    <div class="col-sm-12" ng-if="videos.length">
        <hr/>
    
        <div class="row">
            <div ng-class="{'col-sm-3':!video.aoVivo,'col-sm-12':video.aoVivo}" ng-repeat="video in videos" >
                <youtube-video video-id="video.id"></youtube-video>
                <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" ng-if="!video.aoVivo" >
                    <img src="{{video.thumbnail}}" alt="{{video.titulo}}" width="100%" />
                </a>
                <h2>{{video.titulo}} <label ng-if="video.aoVivo" class="label label-success pull-right" traslate>youtube.ao_vivo</label></h2>
                <p>{{video.descricao}}</p>
            </div>
        </div>
    </div>
</div>