<div>
    <div class="col-sm-12">
        <button class="btn btn-default pull-right" 
                ng-disabled='inProgress' 
                ng-click="vincularConta()"
                ng-show="!youtube.configurado">
            <i class="fa fa-link"></i>
            {{'youtube.vincular_conta' | translate}}
        </button>
        <button class="btn btn-default pull-right"
                ng-disabled='inProgress'
                ng-click="desvincularConta()"
                ng-show="youtube.configurado">
            <i class="fa fa-remove"></i>
            {{'youtube.desativar_integracao' | translate}}
        </button>

        {{'youtube.mensagem_youtube' | translate}}
    </div>
    
    <form id='formulario_youtube' name='formulario_youtube' ng-show="youtube.configurado"
          ng-submit="salvar(this.formulario_youtube)" novalidate>
        <div class="col-sm-6">
            <div field-form-group='formulario_youtube.tituloAoVivo'>
                <field-label value='youtube.titulo_ao_vivo' required="false" for='formulario_youtube.tituloAoVivo'></field-label>
                <input type="text" name='tituloAoVivo' ng-model="youtube.tituloAoVivo" class="form-control" maxlength="30" />
                <field-message field='formulario_youtube.tituloAoVivo'></field-message>
            </div>
            <div field-form-group='formulario_youtube.textoAoVivo'>
                <field-label value='youtube.texto_ao_vivo' required="false" for='formulario_youtube.textoAoVivo'></field-label>
                <textarea rows='5' type="text" name='textoAoVivo' ng-model="youtube.textoAoVivo" class="form-control" maxlength="150" ></textarea>
                <field-message field='formulario_youtube.textoAoVivo'></field-message>
                <span>{{'global.caracteres_restantes' | translate:{quantidade:150-youtube.textoAoVivo.length} }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div field-form-group='formulario_youtube.tituloAgendado'>
                <field-label value='youtube.titulo_agendado' required="false" for='formulario_youtube.tituloAgendado'></field-label>
                <input type="text" name='tituloAgendado' ng-model="youtube.tituloAgendado" class="form-control" maxlength="30" />
                <field-message field='formulario_youtube.tituloAgendado'></field-message>
            </div>
            <div field-form-group='formulario_youtube.textoAgendado'>
                <field-label value='youtube.texto_agendado' required="false" for='formulario_youtube.textoAgendado'></field-label>
                <textarea rows='5' type="text" name='textoAgendado' ng-model="youtube.textoAgendado" class="form-control" maxlength="150" ></textarea>
                <field-message field='formulario_youtube.textoAgendado'></field-message>
                <span>{{'global.caracteres_restantes' | translate:{quantidade:150-youtube.textoAgendado.length} }}</span>
            </div>
        </div>
        <div class="col-sm-12 comandos">
            <hr/>
            <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
            <a class="btn btn-default" ng-disabled='inProgress' ng-click="carrega()" >{{'global.cancelar' | translate}}</a>
        </div>
        
    </form>
    
    <div class="col-sm-12" ng-show="videos.length">
        <hr/>
    
        <div class="row">
            <div ng-class="{'col-sm-3':!video.aoVivo,'col-sm-12':video.aoVivo}" ng-repeat="video in videos" >
                <youtube-video video-id="video.id" ng-if="video.aoVivo"></youtube-video>
                <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" ng-if="!video.aoVivo" >
                    <img src="{{video.thumbnail}}" alt="{{video.titulo}}" width="100%" />
                </a>
                <h2>{{video.titulo}} <label ng-if="video.aoVivo" class="label label-success pull-right" traslate>youtube.ao_vivo</label></h2>
                <p>{{video.descricao}}</p>
            </div>
        </div>
    </div>
</div>