<div>
    <div class="col-sm-12" >
        <label translate>noticia.titulo</label>
        <div class="form-control">{{noticia.titulo}}</div>
    </div>
    <div class="col-sm-6" >
        <label translate>noticia.autor</label>
        <div class="form-control">{{noticia.autor.nome}}</div>
    </div>
    <div class="col-sm-6" >
        <field-label value='noticia.publicacao' for='formulario_noticia.dataPublicacao' required='false'></field-label>
        <div class="form-control">{{noticia.dataPublicacao | date:('config.pattern.output.dateHour' | translate)}}</div>
    </div>
    <div class="col-md-12" ng-if="noticia.ilustracao">
        <label translate>noticia.ilustracao</label>
        <div class="form-control" ><link-arquivo ng-model="noticia.ilustracao" ></link-arquivo></div>
    </div>
    <div class="col-sm-12" >
        <label translate>noticia.texto</label>
        <p class='form-control text' ng-bind-html='noticia.texto'></p>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="noticia">{{'global.voltar' | translate}}</a>
    </div>
</div>