<form id='formulario_documento' name='formulario_documento' ng-submit="salvar(this.formulario_documento)" novalidate>
    <div class="col-sm-12" field-form-group='formulario_documento.titulo' >
        <field-label value='documento.titulo' for='formulario_documento.titulo' ></field-label>
        <input name='titulo' ng-model="documento.titulo" class="form-control" required />
        <field-message field='formulario_documento.titulo'></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_documento.autor' >
        <field-label value='documento.autor' for='formulario_documento.autor' ></field-label>
        <input name='autor' ng-model="documento.autor" class="form-control" required />
        <field-message field='formulario_documento.autor'></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_documento.dataPublicacao'>
        <field-label value='documento.publicacao' for='formulario_documento.dataPublicacao' required='false'></field-label>
        <calvin-datepicker name='dataPublicacao' ng-model="documento.dataPublicacao"
                           date-pattern="{{'config.pattern.input.dateHour' | translate}}"></calvin-datepicker>
        <field-message field='formulario_documento.dataPublicacao'></field-message>
    </div>
    <div class="col-sm-6" form-group-field="formulario_documento.categoria">
        <field-label for="formulario_documento.categoria" value="documento.categoria"></field-label>
        <div class="input-group">
            <select ng-model="documento.categoria" required class="form-control" name="categoria"
                    ng-options='categoria as categoria.nome for categoria in categorias track by categoria.id'>
                <option>{{'global.selecione' | translate}}</option>
            </select>
            <a class="input-group-addon btn btn-default" ng-click="cadastrarCategoria()">
                <span class="fa fa-plus" ></span>
            </a>
        </div>
        <field-message field="formulario_documento.categoria" ></field-message>
    </div>
    <div class="col-sm-12" field-form-group="formulario_documento.pdf">
        <field-label value="documento.arquivo_documento" for="formulario_documento.pdf" required="false" ></field-label>
        <input-fileupload name='pdf' ng-model="documento.pdf" types="['application/pdf']" ></input-fileupload>
        <field-message field="formulario_documento.pdf"></field-message>
    </div>
    <div class="col-sm-12" field-form-group='formulario_documento.texto' ng-if="!documento.pdf">
        <field-label value='documento.texto' for='formulario_documento.texto' ></field-label>
        <div name='texto' text-angular ng-model="documento.texto"
             ta-text-editor-class="form-control" ng-required="!documento.pdf"
             ta-html-editor-class="form-control"></div>
        <field-message field='formulario_documento.texto'></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type='submit' ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ui-sref="documento">{{'global.cancelar' | translate}}</a>
    </div>
</form>