<form id='formulario_configuracao' name='formulario_configuracao' ng-submit="salvar(this.formulario_configuracao)" novalidate>
    <div class="col-sm-12">
        {{'configuracao.mensagem_pagseguro' | translate}}
    </div>
    <div class="col-sm-12" field-form-group='formulario_configuracao.habilitadoPagSeguro'>
        <field-label value='configuracao.habilita_pagseguro' for='formulario_configuracao.habilitadoPagSeguro'></field-label><br/>
        <input type='radio' ng-value="true" name="habilitadoPagSeguro" ng-model="configuracao.habilitadoPagSeguro" required />{{'global.sim' | translate}}
        <input type='radio' ng-value="false" name="habilitadoPagSeguro" ng-model="configuracao.habilitadoPagSeguro" required />{{'global.nao' | translate}}
        <field-message field='formulario_configuracao.habilitadoPagSeguro'></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_configuracao.userPagSeguro'>
        <field-label required="configuracao.habilitadoPagSeguro" value='configuracao.usuario_pagseguro' for='formulario_configuracao.userPagSeguro'></field-label>
        <input type="text" name='userPagSeguro' ng-disabled="!configuracao.habilitadoPagSeguro"
               ng-model="configuracao.userPagSeguro" class="form-control" maxlength="150" 
               ng-required="configuracao.habilitadoPagSeguro" />
        <field-message field='formulario_configuracao.userPagSeguro'></field-message>
    </div>
    <div class="col-sm-6" field-form-group='formulario_configuracao.tokenPagSeguro'>
        <field-label required="configuracao.habilitadoPagSeguro" value='configuracao.token_pagseguro' for='formulario_configuracao.tokenPagSeguro'></field-label>
        <input type="text" name='tokenPagSeguro' ng-disabled="!configuracao.habilitadoPagSeguro"
               ng-model="configuracao.tokenPagSeguro" class="form-control" maxlength="150" 
               ng-required="configuracao.habilitadoPagSeguro" />
        <field-message field='formulario_configuracao.tokenPagSeguro'></field-message>
    </div>
    <div class="col-sm-12">
        <hr/>
        {{'configuracao.mensagem_pushs' | translate}}
    </div>
    <div class="col-sm-6">
        <div field-form-group='formulario_configuracao.tituloAniversario'>
            <field-label value='configuracao.titulo_aniversario' required="false" for='formulario_configuracao.tituloAniversario'></field-label>
            <input type="text" name='tituloAniversario' ng-model="configuracao.tituloAniversario" 
                   class="form-control" maxlength="30" />
            <field-message field='formulario_configuracao.tituloAniversario'></field-message>
        </div>
        <div field-form-group='formulario_configuracao.textoAniversario'>
            <field-label value='configuracao.texto_aniversario' required="false" for='formulario_configuracao.textoAniversario'></field-label>
            <textarea rows='5' type="text" name='textoAniversario' ng-model="configuracao.textoAniversario" class="form-control" maxlength="150" ></textarea>
            <field-message field='formulario_configuracao.textoAniversario'></field-message>
            <span>{{'global.caracteres_restantes' | translate:{quantidade:150-configuracao.textoAniversario.length} }}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div field-form-group='formulario_configuracao.tituloBoletim'>
            <field-label value='configuracao.titulo_boletim' required="false" for='formulario_configuracao.tituloBoletim'></field-label>
            <input type="text" name='tituloBoletim' ng-model="configuracao.tituloBoletim" class="form-control" maxlength="30" />
            <field-message field='formulario_configuracao.tituloBoletim'></field-message>
        </div>
        <div field-form-group='formulario_configuracao.textoBoletim'>
            <field-label value='configuracao.texto_boletim' required="false" for='formulario_configuracao.textoBoletim'></field-label>
            <textarea rows='5' type="text" name='textoBoletim' ng-model="configuracao.textoBoletim" class="form-control" maxlength="150" ></textarea>
            <field-message field='formulario_configuracao.textoBoletim'></field-message>
            <span>{{'global.caracteres_restantes' | translate:{quantidade:150-configuracao.textoBoletim.length} }}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div field-form-group='formulario_configuracao.tituloPublicacao'>
            <field-label value='configuracao.titulo_publicacao' required="false" for='formulario_configuracao.tituloPublicacao'></field-label>
            <input type="text" name='tituloPublicacao' ng-model="configuracao.tituloPublicacao" class="form-control" maxlength="30" />
            <field-message field='formulario_configuracao.tituloPublicacao'></field-message>
        </div>
        <div field-form-group='formulario_configuracao.textoPublicacao'>
            <field-label value='configuracao.texto_publicacao' required="false" for='formulario_configuracao.textoBoletim'></field-label>
            <textarea rows='5' type="text" name='textoPublicacao' ng-model="configuracao.textoPublicacao" class="form-control" maxlength="150" ></textarea>
            <field-message field='formulario_configuracao.textoPublicacao'></field-message>
            <span>{{'global.caracteres_restantes' | translate:{quantidade:150-configuracao.textoPublicacao.length} }}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div field-form-group='formulario_configuracao.tituloDocumento'>
            <field-label value='configuracao.titulo_documento' required="false" for='formulario_configuracao.tituloDocumento'></field-label>
            <input type="text" name='tituloDocumento' ng-model="configuracao.tituloDocumento" class="form-control" maxlength="30" />
            <field-message field='formulario_configuracao.tituloDocumento'></field-message>
        </div>
        <div field-form-group='formulario_configuracao.textoDocumento'>
            <field-label value='configuracao.texto_documento' required="false" for='formulario_configuracao.textoDocumento'></field-label>
            <textarea rows='5' type="text" name='textoDocumento' ng-model="configuracao.textoDocumento" class="form-control" maxlength="150" ></textarea>
            <field-message field='formulario_configuracao.textoDocumento'></field-message>
            <span>{{'global.caracteres_restantes' | translate:{quantidade:150-configuracao.textoDocumento.length} }}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div field-form-group='formulario_configuracao.tituloNoticia'>
            <field-label value='configuracao.titulo_noticia' required="false" for='formulario_configuracao.tituloNoticia'></field-label>
            <input type="text" name='tituloNoticia' ng-model="configuracao.tituloNoticia" class="form-control" maxlength="30" />
            <field-message field='formulario_configuracao.tituloNoticia'></field-message>
        </div>
        <div field-form-group='formulario_configuracao.textoNoticia'>
            <field-label value='configuracao.texto_noticia' required="false" for='formulario_configuracao.textoNoticia'></field-label>
            <textarea rows='5' type="text" name='textoNoticia' ng-model="configuracao.textoNoticia" class="form-control" maxlength="150" ></textarea>
            <field-message field='formulario_configuracao.textoNoticia'></field-message>
            <span>{{'global.caracteres_restantes' | translate:{quantidade:150-configuracao.textoDocumento.length} }}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <div field-form-group='formulario_configuracao.tituloClassificados'>
            <field-label value='configuracao.titulo_classificados' required="false" for='formulario_configuracao.tituloClassificados'></field-label>
            <input type="text" name='tituloClassificados' ng-model="configuracao.tituloClassificados" class="form-control" maxlength="30" />
            <field-message field='formulario_configuracao.tituloClassificados'></field-message>
        </div>
        <div field-form-group='formulario_configuracao.textoClassificados'>
            <field-label value='configuracao.texto_classificados' required="false" for='formulario_configuracao.textoClassificados'></field-label>
            <textarea rows='5' type="text" name='textoClassificados' ng-model="configuracao.textoClassificados" class="form-control" maxlength="150" ></textarea>
            <field-message field='formulario_configuracao.textoClassificados'></field-message>
            <span>{{'global.caracteres_restantes' | translate:{quantidade:150-configuracao.textoDocumento.length} }}</span>
        </div>
    </div>
    <div class="col-sm-6" field-form-group='formulario_configuracao.tituloMensagemDia'>
        <field-label value='configuracao.titulo_mensagem_dia' required="false" for='formulario_configuracao.tituloMensagemDia'></field-label>
        <input type="text" name='tituloMensagemDia' ng-model="configuracao.tituloMensagemDia" class="form-control" maxlength="30" />
        <field-message field='formulario_configuracao.tituloMensagemDia'></field-message>
    </div>
    <div class="col-sm-12 comandos">
        <hr/>
        <input type="submit" ng-disabled='inProgress' class="btn btn-primary" value="{{'global.salvar' | translate}}" />
        <a class="btn btn-default" ng-disabled='inProgress' ng-click="carrega()" >{{'global.cancelar' | translate}}</a>
    </div>
</form>